## for문

In [2]:
# 1~10까지의 숫자 출력

for (i in 1:10){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [4]:
for (i in c(1,3,5)){
    print(i)
}

[1] 1
[1] 3
[1] 5

In [5]:
for (i in seq(1,10,2)){
    print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [8]:
# 1~10까지의 제곱근 구하기

print(sqrt(1))
sqrt(2)

[1] 1

[1] 1.414214

In [17]:
for(i in 1:10){
    cat(i,"=>", sqrt(i),"\n")
}

1 => 1
2 => 1.414214
3 => 1.732051
4 => 2
5 => 2.236068
6 => 2.44949
7 => 2.645751
8 => 2.828427
9 => 3
10 => 3.162278

In [25]:
for(i in 1:10){
    cat(paste(i,"=>", sqrt(i),"\n"))
}

1 => 1
2 => 1.4142135623731
3 => 1.73205080756888
4 => 2
5 => 2.23606797749979
6 => 2.44948974278318
7 => 2.64575131106459
8 => 2.82842712474619
9 => 3
10 => 3.16227766016838

In [50]:
# excel에서 q3 컬럼 데이터의 홀수의 합과 짝수의 합 구하기

# 홀수의 합은 604이고 짝수의 합은 852 입니다.
excel <- read.csv("../Data//excel.csv")
sum1 <- 0
sum2 <- 0

for(i in excel$q3){
    if(i %% 2 == 0){
       sum1 <- sum1+sum(i)
    }
    if(i %% 2 == 1){
       sum2 <- sum2+sum(i)
    }
    
}
sprintf("홀수의 합은 %i이고 짝수의 합은 %i 입니다.", sum2, sum1)

[1] "홀수의 합은 604이고 짝수의 합은 852 입니다."

In [52]:
# excel에서 q3 컬럼 데이터 중 3의 배수의 합계 구하기
sum3 <- 0

for(i in excel$q3){
    
    if(i %% 3 == 0){
        sum3 <- sum3 + sum(i)
    }
    
}

print(sum3)

[1] 216

In [54]:
# excel에서 q3 컬럼 데이터 중 3의 배수도 되고 4의 배수도 되는 수의 합계를 구하시오

sum3 <- 0
for(i in excel$q3){
    
    if(i %% 3 == 0 & i %% 4 == 0){
        sum3 <- sum3 + sum(i)
    }
    
}

cat("합계는 ", sum3, "입니다.")

합계는  0 입니다.

In [56]:
# 구구단 출력하기 1

for(i in 1:9){
    cat(2, " X ", i, "=", 2*i, "\n")
}

2  X  1 = 2
2  X  2 = 4
2  X  3 = 6
2  X  4 = 8
2  X  5 = 10
2  X  6 = 12
2  X  7 = 14
2  X  8 = 16
2  X  9 = 18

In [64]:
# 구구단 출력하기 2

dan <- as.numeric(readline("단을 입력하세요!"))

for(i in 1:9){
    cat(dan, " X ", i, "=", dan*i, "\n")
}

단을 입력하세요!6
6  X  1 = 6
6  X  2 = 12
6  X  3 = 18
6  X  4 = 24
6  X  5 = 30
6  X  6 = 36
6  X  7 = 42
6  X  8 = 48
6  X  9 = 54