# 몬테카를로 시뮬레이션

### 동전 앞면과 뒷면 시뮬레이션

In [14]:
x <- runif(1)
if(x <= 1/2){
    result = 0 # 앞면
}else{
    result = 1 # 뒷면
}

print(result)

[1] 1

In [19]:
coin <- function(num){
    count1 = 0 # 앞면
    count2 = 0 # 뒷면
    for(i in 1:num){
        if(runif(1) <= 1/2){
            count1 = count1 + 1
        }else{
            count2 = count2 + 1
        }
        
    }
    cat("앞면 :", count1, "\n")
    cat("뒷면 :", count2, "\n")
    cat("-------------------\n")
}

In [22]:
coin(10)
coin(100)
coin(1000)
coin(10000)
coin(100000)
coin(1000000)

앞면 : 8
뒷면 : 2
-------------------
앞면 : 42
뒷면 : 58
-------------------
앞면 : 468
뒷면 : 532
-------------------
앞면 : 4904
뒷면 : 5096
-------------------
앞면 : 49968
뒷면 : 50032
-------------------
앞면 : 500347
뒷면 : 499653
-------------------

In [60]:
### 가위, 바위, 보 시뮬레이션
rock <- function(num){
    rock <- 0
    scis <- 0
    paper <- 0
    
    for(i in 1:num){
        
        x <- runif(1)
        
        if(x <= 1/3){
            rock = rock + 1
        }else if(x <= 2/3){
            scis = scis + 1
        }else{
            paper = paper + 1
        }
        
    }
    cat("가위 :", rock, "\n")
    cat("바위 :", scis, "\n")
    cat("보 :", paper, "\n")
    cat("-------------------\n")
}

In [61]:
rock(10)
rock(100)
rock(1000)
rock(10000)
rock(100000)
rock(1000000)

가위 : 5
바위 : 1
보 : 4
-------------------
가위 : 45
바위 : 25
보 : 30
-------------------
가위 : 341
바위 : 328
보 : 331
-------------------
가위 : 3278
바위 : 3280
보 : 3442
-------------------
가위 : 33133
바위 : 33487
보 : 33380
-------------------
가위 : 333240
바위 : 334300
보 : 332460
-------------------

In [64]:
### 가위, 바위, 보 시뮬레이션 2
rock <- function(num){
    rock <- 0
    scis <- 0
    paper <- 0
    
    for(i in 1:num){
        
        x <- trunc(runif(1)*3)+1
        if(x == 1) rock = rock + 1
        if(x == 2) scis = scis + 1
        if(x == 3) paper = paper + 1
        
    }
    cat("가위 :", rock, "\n")
    cat("바위 :", scis, "\n")
    cat("보 :", paper, "\n")
    cat("-------------------\n")
}

In [65]:
rock(10)
rock(100)
rock(1000)
rock(10000)
rock(100000)
rock(1000000)

가위 : 7
바위 : 1
보 : 2
-------------------
가위 : 34
바위 : 34
보 : 32
-------------------
가위 : 338
바위 : 339
보 : 323
-------------------
가위 : 3396
바위 : 3261
보 : 3343
-------------------
가위 : 33548
바위 : 33197
보 : 33255
-------------------
가위 : 332932
바위 : 333387
보 : 333681
-------------------

---
### 주사위 시뮬레이션

In [10]:
options(scipen=100) # 지수 제거 

dice <- function(num){
    
    count <- rep(0,6)
    
    for(i in 1:num){
        # 1-6 까지의 난수를 변수에 대입 
        # 난수를 count인덱스에 대입하여 count인덱스에 1씩 증가
        diceNum <- trunc(runif(1)*6)+1
        count[diceNum] <- count[diceNum]+1
    }
    cat("Throw :", num, "\n")
    for(i in 1:length(count)){
       
        cat("No ", i ," => ", count[i], "\n")    
    }
    cat("---------------\n")
    
}

In [13]:
dice(10)
dice(100)
dice(1000)
dice(10000)
dice(100000)
dice(1000000)

Throw : 10
No  1  =>  1
No  2  =>  2
No  3  =>  0
No  4  =>  1
No  5  =>  2
No  6  =>  4
---------------
Throw : 100
No  1  =>  15
No  2  =>  21
No  3  =>  17
No  4  =>  12
No  5  =>  20
No  6  =>  15
---------------
Throw : 1000
No  1  =>  176
No  2  =>  175
No  3  =>  177
No  4  =>  141
No  5  =>  153
No  6  =>  178
---------------
Throw : 10000
No  1  =>  1668
No  2  =>  1671
No  3  =>  1647
No  4  =>  1678
No  5  =>  1647
No  6  =>  1689
---------------
Throw : 100000
No  1  =>  16697
No  2  =>  16477
No  3  =>  16710
No  4  =>  16667
No  5  =>  16624
No  6  =>  16825
---------------
Throw : 1000000
No  1  =>  166721
No  2  =>  166290
No  3  =>  167183
No  4  =>  165960
No  5  =>  166651
No  6  =>  167195
---------------