In [45]:
acc <- read.table("../Data/trafficAccident_2011_2019.txt", fileEncoding = "UTF-8", header = T, stringsAsFactors =  F)
seoul <- read.csv("../Data/newSeoul2019.csv", fileEncoding = "UTF-8")
head(acc)
head(seoul)

  기간 자치구별 구분     합계   X1월  X2월  X3월  X4월  X5월  X6월  X7월  X8월
1 2011 합계     발생건수 40,451 3,038 2,573 3,126 3,450 3,603 3,390 3,529 3,360
2 2011 합계     사망자수 435    36    32    20    44    36    37    36    50
3 2011 합계     부상자수 57,625 4,429 3,734 4,513 4,905 5,036 4,831 5,067 4,823
4 2011 종로구   발생건수 1,421  115   99    116   110   122   116   103   122
5 2011 종로구   사망자수 14     2     -     -     1     -     3     1     1
6 2011 종로구   부상자수 1,994  165   134   162   153   157   163   154   171
  X9월  X10월 X11월 X12월
1 3,433 3,734 3,701 3,514
2 37    25    40    42
3 4,893 5,244 5,150 5,000
4 121   135   140   122
5 2     2     1     1
6 166   193   204   172

  년도 월 자치구명 발생건수 사망자수 부상자수
1 2011 1  종로구   115      2        165
2 2011 2  종로구    99      0        134
3 2011 3  종로구   116      0        162
4 2011 4  종로구   110      1        153
5 2011 5  종로구   122      0        157
6 2011 6  종로구   116      3        163

In [46]:
str(acc)
str(seoul)

'data.frame':	702 obs. of  16 variables:
 $ 기간    : int  2011 2011 2011 2011 2011 2011 2011 2011 2011 2011 ...
 $ 자치구별: chr  "합계" "합계" "합계" "종로구" ...
 $ 구분    : chr  "발생건수" "사망자수" "부상자수" "발생건수" ...
 $ 합계    : chr  "40,451" "435" "57,625" "1,421" ...
 $ X1월    : chr  "3,038" "36" "4,429" "115" ...
 $ X2월    : chr  "2,573" "32" "3,734" "99" ...
 $ X3월    : chr  "3,126" "20" "4,513" "116" ...
 $ X4월    : chr  "3,450" "44" "4,905" "110" ...
 $ X5월    : chr  "3,603" "36" "5,036" "122" ...
 $ X6월    : chr  "3,390" "37" "4,831" "116" ...
 $ X7월    : chr  "3,529" "36" "5,067" "103" ...
 $ X8월    : chr  "3,360" "50" "4,823" "122" ...
 $ X9월    : chr  "3,433" "37" "4,893" "121" ...
 $ X10월   : chr  "3,734" "25" "5,244" "135" ...
 $ X11월   : chr  "3,701" "40" "5,150" "140" ...
 $ X12월   : chr  "3,514" "42" "5,000" "122" ...
'data.frame':	2700 obs. of  6 variables:
 $ 년도    : int  2011 2011 2011 2011 2011 2011 2011 2011 2011 2011 ...
 $ 월      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ 자치구명: Factor w/ 25 levels "강남구","강동구",..: 23 23 23 23 23 23 23 23 23 23 ...
 $ 발생건수: int  115 99 116 110 122 116 103 122 121 135 ...
 $ 사망자수: int  2 0 0 1 0 3 1 1 2 2 ...
 $ 부상자수: int  165 134 162 153 157 163 154 171 166 193 ...

In [57]:
library(dplyr)
library(stringr)

In [59]:
# 발생건수, 사망자수, 부상자수
acc2 <- subset(acc, 자치구별 != "합계") # 팔요없는 데이터 삭제
acc2 <- acc2[,-4]

rownames(acc2) <- c()
colnames(acc2) <- c("년도", "자치구명", "구분", 1:12)

for(i in 4:15){
    acc2[,i] <- ifelse(acc2[,i] == '-', 0, acc2[,i])
}
head(acc2)

  년도 자치구명 구분     1   2   3   4   5   6   7   8   9   10  11  12
1 2011 종로구   발생건수 115 99  116 110 122 116 103 122 121 135 140 122
2 2011 종로구   사망자수 2   0   0   1   0   3   1   1   2   2   1   1
3 2011 종로구   부상자수 165 134 162 153 157 163 154 171 166 193 204 172
4 2011 중구     발생건수 108 86  141 128 121 115 119 117 140 147 132 143
5 2011 중구     사망자수 0   0   0   3   1   1   1   1   1   2   3   0
6 2011 중구     부상자수 159 112 183 175 165 156 154 154 181 203 172 211

In [82]:
# 구분(사망자수, 발생건수, 부상자수) 컬럼화 / 1~12월 컬럼 로우데이터로 변경

# b <- cbind(acc2[1,1], rownames(t(acc2[1,4:15])), acc2[1,2], t(acc2[1,4:15]))
# b <- cbind(b, t(acc2[2,4:15]))
# b <- cbind(b, t(acc2[3,4:15]))
# rownames(b) <- c()
# colnames(b) <- c()

acc_s <- c()
for (i in seq(1,nrow(acc2),3) ){ # 1, 4, 7, ....
    b <- cbind(acc2[i,1], 1:12, acc2[i,2], t(acc2[i,4:15]))
    b <- cbind(b, t(acc2[i+1,4:15]))
    b <- cbind(b, t(acc2[i+2,4:15]))
    rownames(b) <- c()
    colnames(b) <- c("년도", "월", "자치구명", "발생건수", "사망자수", "부상자수")
    acc_s <- rbind(acc_s, b)
}
head(acc_s)
head(seoul)

acc_s <- as.data.frame(acc_s)

     년도 월 자치구명 발생건수 사망자수 부상자수
[1,] 2011 1  종로구   115      2        165
[2,] 2011 2  종로구   99       0        134
[3,] 2011 3  종로구   116      0        162
[4,] 2011 4  종로구   110      1        153
[5,] 2011 5  종로구   122      0        157
[6,] 2011 6  종로구   116      3        163

  년도 월 자치구명 발생건수 사망자수 부상자수
1 2011 1  종로구   115      2        165
2 2011 2  종로구    99      0        134
3 2011 3  종로구   116      0        162
4 2011 4  종로구   110      1        153
5 2011 5  종로구   122      0        157
6 2011 6  종로구   116      3        163

'data.frame':	2700 obs. of  6 variables:
 $ 년도    : Factor w/ 9 levels "2011","2012",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ 월      : Factor w/ 12 levels "1","10","11",..: 1 5 6 7 8 9 10 11 12 2 ...
 $ 자치구명: Factor w/ 25 levels "강남구","강동구",..: 23 23 23 23 23 23 23 23 23 23 ...
 $ 발생건수: Factor w/ 268 levels "100","101","102",..: 16 268 17 11 23 17 4 23 22 36 ...
 $ 사망자수: Factor w/ 9 levels "0","1","10","2",..: 4 1 1 2 1 5 2 2 4 4 ...
 $ 부상자수: Factor w/ 369 levels "100","101","102",..: 66 35 63 54 58 64 55 72 67 94 ...

      년도           월          자치구명       발생건수       사망자수
 2011   :300   1      : 225   강남구 : 108   121    :  39   1      :901
 2012   :300   10     : 225   강동구 : 108   111    :  38   0      :887
 2013   :300   11     : 225   강북구 : 108   124    :  38   2      :538
 2014   :300   12     : 225   강서구 : 108   103    :  37   3      :257
 2015   :300   2      : 225   관악구 : 108   122    :  36   4      : 86
 2016   :300   3      : 225   광진구 : 108   136    :  35   5      : 25
 (Other):900   (Other):1350   (Other):2052   (Other):2477   (Other):  6
    부상자수
 159    :  31
 141    :  30
 175    :  29
 135    :  28
 161    :  28
 176    :  28
 (Other):2526