In [1]:
# 인구밀도, 소득수준, 학원, 교통량 , 유동인구 바탕으로 커피전문점 학습 후 예측
# 동별 인구밀도(15~19년도 동별)
# 15~19년도 자료 병합 (15~18년도 자료로 학습 -> 이를 바탕으로 19년도 자료로 테스트)

# 사업체수, 사업체종사자수
# https://data.seoul.go.kr/dataList/10599/S/2/datasetView.do
library(stringr)

bw <- read.table("../Data_SemiProject/2019_business_worker.txt",
           fileEncoding ="utf-8", sep="\t", header=T)

head(bw)

  기간 자치구 동     합계     합계.1     합계.2       농업.임업.및.어업
1 기간 자치구 동     사업체수 총종사자수 여성종사자수 계
2 2019 합계   합계   823,624  5,226,997  2,341,383    426
3 2019 종로구 소계   39,679   260,446    114,054      18
4 2019 종로구 사직동 3,574    47,522     22,368       12
5 2019 종로구 삼청동 732      4,601      2,330        -
6 2019 종로구 부암동 599      3,454      1,690        -
  농업.임업.및.어업.1 광업 광업.1       ... 공공행정.국방.및.사회보장.행정
1 여성종사자수        계   여성종사자수 ... 계
2 77                  43   7            ... 141,582
3 6                   10   3            ... 15,109
4 4                   2    1            ... 6,088
5 -                   -    -            ... 1,291
6 -                   1    -            ... 60
  공공행정.국방.및.사회보장.행정.1 교육.서비스업 교육.서비스업.1
1 여성종사자수                     계            여성종사자수
2 53,867                           351,320       214,507
3 5,135                            13,474        7,272
4 2,369                            786           474
5 335                              297           158
6 13                               1,190         558
  보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업.1
1 계                          여성종사자수
2 400,143                     316,091
3 17,366                      12,698
4 1,096                       838
5 30                          20
6 183                         154
  예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업.1
1 계                               여성종사자수
2 92,752                           43,487
3 6,034                            3,006
4 1,653                            794
5 185                              128
6 49                               29
  협회.및.단체.수리.및.기타.개인.서비스업
1 계
2 189,557
3 7,649
4 906
5 194
6 325
  협회.및.단체.수리.및.기타.개인.서비스업.1
1 여성종사자수
2 96,645
3 3,545
4 475
5 121
6 149

In [2]:

bw_02 <- bw
head(bw_02)

# factor -> character 변경
for(i in 4:ncol(bw_02)){
    
    bw_02[,i] <- as.character(bw_02[,i])
}
str(bw_02)

  기간 자치구 동     합계     합계.1     합계.2       농업.임업.및.어업
1 기간 자치구 동     사업체수 총종사자수 여성종사자수 계
2 2019 합계   합계   823,624  5,226,997  2,341,383    426
3 2019 종로구 소계   39,679   260,446    114,054      18
4 2019 종로구 사직동 3,574    47,522     22,368       12
5 2019 종로구 삼청동 732      4,601      2,330        -
6 2019 종로구 부암동 599      3,454      1,690        -
  농업.임업.및.어업.1 광업 광업.1       ... 공공행정.국방.및.사회보장.행정
1 여성종사자수        계   여성종사자수 ... 계
2 77                  43   7            ... 141,582
3 6                   10   3            ... 15,109
4 4                   2    1            ... 6,088
5 -                   -    -            ... 1,291
6 -                   1    -            ... 60
  공공행정.국방.및.사회보장.행정.1 교육.서비스업 교육.서비스업.1
1 여성종사자수                     계            여성종사자수
2 53,867                           351,320       214,507
3 5,135                            13,474        7,272
4 2,369                            786           474
5 335                              297           158
6 13                               1,190         558
  보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업.1
1 계                          여성종사자수
2 400,143                     316,091
3 17,366                      12,698
4 1,096                       838
5 30                          20
6 183                         154
  예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업.1
1 계                               여성종사자수
2 92,752                           43,487
3 6,034                            3,006
4 1,653                            794
5 185                              128
6 49                               29
  협회.및.단체.수리.및.기타.개인.서비스업
1 계
2 189,557
3 7,649
4 906
5 194
6 325
  협회.및.단체.수리.및.기타.개인.서비스업.1
1 여성종사자수
2 96,645
3 3,545
4 475
5 121
6 149

'data.frame':	451 obs. of  44 variables:
 $ 기간                                      : Factor w/ 2 levels "2019","기간": 2 1 1 1 1 1 1 1 1 1 ...
 $ 자치구                                    : Factor w/ 27 levels "강남구","강동구",..: 23 27 24 24 24 24 24 24 24 24 ...
 $ 동                                        : Factor w/ 426 levels "가락1동","가락2동",..: 89 400 211 163 171 151 392 118 31 9 ...
 $ 합계                                      : chr  "사업체수" "823,624" "39,679" "3,574" ...
 $ 합계.1                                    : chr  "총종사자수" "5,226,997" "260,446" "47,522" ...
 $ 합계.2                                    : chr  "여성종사자수" "2,341,383" "114,054" "22,368" ...
 $ 농업.임업.및.어업                         : chr  "계" "426" "18" "12" ...
 $ 농업.임업.및.어업.1                       : chr  "여성종사자수" "77" "6" "4" ...
 $ 광업                                      : chr  "계" "43" "10" "2" ...
 $ 광업.1                                    : chr  "여성종사자수" "7" "3" "1" ...
 $ 제조업                                    : chr  "계" "265,273" "13,180" "359" ...
 $ 제조업.1                                  : chr  "여성종사자수" "109,358" "5,615" "177" ...
 $ 전기.가스.증기.및.공기조절.공급업         : chr  "계" "6,234" "489" "11" ...
 $ 전기.가스.증기.및.공기조절.공급업.1       : chr  "여성종사자수" "1,330" "115" "7" ...
 $ 수도.하수.및.폐기물.처리.원료.재생업      : chr  "계" "9,158" "131" "34" ...
 $ 수도.하수.및.폐기물.처리.원료.재생업.1    : chr  "여성종사자수" "1,409" "11" "7" ...
 $ 건설업                                    : chr  "계" "362,785" "24,112" "688" ...
 $ 건설업.1                                  : chr  "여성종사자수" "50,235" "2,914" "76" ...
 $ 도매.및.소매업                            : chr  "계" "899,642" "42,172" "2,726" ...
 $ 도매.및.소매업.1                          : chr  "여성종사자수" "403,632" "18,401" "1,111" ...
 $ 운수.및.창고업                            : chr  "계" "264,181" "7,606" "2,513" ...
 $ 운수.및.창고업.1                          : chr  "여성종사자수" "45,282" "2,015" "985" ...
 $ 숙박.및.음식점업                          : chr  "계" "493,912" "26,606" "4,124" ...
 $ 숙박.및.음식점업.1                        : chr  "여성종사자수" "290,086" "15,775" "2,502" ...
 $ 정보통신업                                : chr  "계" "360,062" "16,278" "2,133" ...
 $ 정보통신업.1                              : chr  "여성종사자수" "116,219" "5,446" "868" ...
 $ 금융.및.보험업                            : chr  "계" "266,110" "23,389" "7,794" ...
 $ 금융.및.보험업.1                          : chr  "여성종사자수" "127,397" "10,635" "3,234" ...
 $ 부동산업                                  : chr  "계" "166,094" "6,341" "1,091" ...
 $ 부동산업.1                                : chr  "여성종사자수" "59,818" "2,199" "396" ...
 $ 전문.과학.및.기술.서비스업                : chr  "계" "485,150" "22,550" "8,098" ...
 $ 전문.과학.및.기술.서비스업.1              : chr  "여성종사자수" "176,555" "9,272" "3,765" ...
 $ 사업시설.관리.사업.지원.및.임대.서비스업  : chr  "계" "472,573" "17,932" "7,408" ...
 $ 사업시설.관리.사업.지원.및.임대.서비스업.1: chr  "여성종사자수" "235,381" "9,991" "4,285" ...
 $ 공공행정.국방.및.사회보장.행정            : chr  "계" "141,582" "15,109" "6,088" ...
 $ 공공행정.국방.및.사회보장.행정.1          : chr  "여성종사자수" "53,867" "5,135" "2,369" ...
 $ 교육.서비스업                             : chr  "계" "351,320" "13,474" "786" ...
 $ 교육.서비스업.1                           : chr  "여성종사자수" "214,507" "7,272" "474" ...
 $ 보건업.및.사회복지.서비스업               : chr  "계" "400,143" "17,366" "1,096" ...
 $ 보건업.및.사회복지.서비스업.1             : chr  "여성종사자수" "316,091" "12,698" "838" ...
 $ 예술.스포츠.및.여가관련.서비스업          : chr  "계" "92,752" "6,034" "1,653" ...
 $ 예술.스포츠.및.여가관련.서비스업.1        : chr  "여성종사자수" "43,487" "3,006" "794" ...
 $ 협회.및.단체.수리.및.기타.개인.서비스업   : chr  "계" "189,557" "7,649" "906" ...
 $ 협회.및.단체.수리.및.기타.개인.서비스업.1 : chr  "여성종사자수" "96,645" "3,545" "475" ...

In [3]:
# 동별 사업체, 총 종사자 수 , 업종별 종사자 수 데이터
# 업종별 컬럼 앞에 .1 -> 해당 업종 여성 종사자 수


bw_02 <- subset(bw_02, 자치구 != "합계" & 동 != "합계" & 동 != "소계")[-1,]

# 컴마, 하이픈 제거
for(j in 1:nrow(bw_02)){

    bw_02[j,4:ncol(bw_02)] <- str_replace_all(bw_02[j,4:ncol(bw_02)], ",", "")
    bw_02[j,4:ncol(bw_02)] <- str_replace_all(bw_02[j,4:ncol(bw_02)], "-", '0')
}

# 정수형 데이터로 변경
for(i in 4:ncol(bw_02)){
    
    bw_02[,i] <- as.integer(bw_02[,i])
}


# 열이름 변경
colnames(bw_02) <- c("년도", "자치구명", "동", "사업체수", "총종사자수", "총여성종사자수", colnames(bw_02[,7:ncol(bw_02)]) )

# 행이름 초기화
rownames(bw_02) <- c()

bw_02 <- subset(bw_02, 동 != '둔촌1동')



# .1 -> (여성합)

colnames(bw_02) <- str_replace_all(colnames(bw_02), ".1", "(여성)")
head(bw_02)

  년도 자치구명 동     사업체수 총종사자수 총여성종사자수 농업.임업.및.어업
1 2019 종로구   사직동 3574     47522      22368          12
2 2019 종로구   삼청동  732      4601       2330           0
3 2019 종로구   부암동  599      3454       1690           0
4 2019 종로구   평창동  761      3447       1929           0
5 2019 종로구   무악동  647      1644        772           0
6 2019 종로구   교남동  413      4581       3100           0
  농업.임업.및.어업(여성) 광업 광업(여성) ... 공공행정.국방.및.사회보장.행정
1 4                       2    1          ... 6088
2 0                       0    0          ... 1291
3 0                       1    0          ...   60
4 0                       4    1          ...   90
5 0                       0    0          ...   12
6 0                       0    0          ...   37
  공공행정.국방.및.사회보장.행정(여성) 교육.서비스업 교육.서비스업(여성)
1 2369                                  786          474
2  335                                  297          158
3   13                                 1190          558
4   31                                  425          281
5    6                                  177          134
6   16                                  176           77
  보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업(여성)
1 1096                         838
2   30                          20
3  183                         154
4  480                         392
5  486                         384
6 3139                        2397
  예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업(여성)
1 1653                             794
2  185                             128
3   49                              29
4  185                             100
5   11                               7
6   44                              27
  협회.및.단체.수리.및.기타.개인.서비스업
1 906
2 194
3 325
4 266
5  90
6 170
  협회.및.단체.수리.및.기타.개인.서비스업(여성)
1 475
2 121
3 149
4 150
5  51
6  83

In [4]:
# 사업체, 종사자수, 총여성종사자수  만 추출
bw_03 <- bw_02[,1:6]

head(bw_03)
tail(bw_03)

# 동 갯수 확인
length(unique(bw_03$동))

# 자치구 개수 확인
length(unique(bw_03$자치구명))

table(bw_03$자치구명)

subset(bw_03, 자치구명 =="자치구")

ncol(bw_02)

  년도 자치구명 동     사업체수 총종사자수 총여성종사자수
1 2019 종로구   사직동 3574     47522      22368
2 2019 종로구   삼청동  732      4601       2330
3 2019 종로구   부암동  599      3454       1690
4 2019 종로구   평창동  761      3447       1929
5 2019 종로구   무악동  647      1644        772
6 2019 종로구   교남동  413      4581       3100

    년도 자치구명 동      사업체수 총종사자수 총여성종사자수
418 2019 강동구   성내2동 1836      6770       3517
419 2019 강동구   성내3동 2439      9117       4130
421 2019 강동구   둔촌2동 1553      9463       4787
422 2019 강동구   암사1동 1918      5646       2869
423 2019 강동구   천호2동 3439     14208       7680
424 2019 강동구   길동    5037     21237      10139

[1] 422

[1] 25

  강남구   강동구   강북구   강서구   관악구   광진구   구로구   금천구
      22       17       13       20       21       15       15       10
  노원구   도봉구 동대문구   동작구   마포구 서대문구   서초구   성동구
      19       14       14       15       16       14       18       17
  성북구   송파구   양천구 영등포구   용산구   은평구   자치구   종로구
      20       27       18       18       16       16        0       17
    중구   중랑구     합계
      15       16        0

     년도 자치구명 동 사업체수 총종사자수 총여성종사자수

[1] 44

In [5]:
# 자치구별 사업체 총종사자수 
aggregate(cbind(사업체수, 총종사자수, 총여성종사자수) ~ 자치구명, bw_02, sum)

table(bw_03$동)

   자치구명 사업체수 총종사자수 총여성종사자수
1  강남구   71027    698840     310956
2  강동구   29063    141487      66982
3  강북구   19014     73904      39770
4  강서구   39458    257494     115285
5  관악구   25505    115329      55645
6  광진구   24445    126305      58406
7  구로구   38756    225668      96946
8  금천구   33814    242686      92097
9  노원구   26618    116684      61691
10 도봉구   18628     72939      35341
11 동대문구 31324    138400      65333
12 동작구   19793    106159      53862
13 마포구   37290    247276     114718
14 서대문구 20095    113819      57853
15 서초구   46940    438985     177838
16 성동구   28343    178243      75474
17 성북구   23617    111005      56030
18 송파구   48644    341201     138988
19 양천구   25894    121582      58483
20 영등포구 42370    373478     155828
21 용산구   20254    135240      60670
22 은평구   24681     93631      49801
23 종로구   39679    260446     114054
24 중구     60127    392568     179084
25 중랑구   28228    103345      50160

        가락1동         가락2동        가락본동        가리봉동          가산동
              1               1               1               1               1
        가양1동         가양2동         가양3동          가회동         갈현1동
              1               1               1               1               1
        갈현2동          강일동         개봉1동         개봉2동         개봉3동
              1               1               1               1               1
        개포1동         개포2동         개포4동         거여1동         거여2동
              1               1               1               1               1
        고덕1동         고덕2동         고척1동         고척2동          공덕동
              1               1               1               1               1
        공릉1동         공릉2동          공항동          광장동          광희동
              1               1               1               1               1
         교남동         구로1동         구로2동         구로3동         구로4동
              1               1               1               1               1
        구로5동          구산동         구의1동         구의2동         구의3동
              1               1               1               1               1
         군자동       금호1가동     금호2.3가동       금호4가동            길동
              1               1               1               1               1
        길음1동         길음2동        낙성대동          난곡동          난향동
              1               1               1               1               1
      남가좌1동       남가좌2동          남영동          남현동          내곡동
              1               1               1               1               1
      노량진1동       노량진2동          녹번동         논현1동         논현2동
              1               1               1               1               1
           능동          다산동       답십리1동       답십리2동         당산1동
              1               1               1               1               1
        당산2동         대림1동         대림2동         대림3동          대방동
              1               1               1               1               1
         대조동         대치1동         대치2동         대치4동          대학동
              1               1               1               1               1
         대흥동         도곡1동         도곡2동          도림동         도봉1동
              1               1               1               1               1
        도봉2동          도화동         독산1동         독산2동         독산3동
              1               1               1               1               1
        독산4동         돈암1동         돈암2동              동          동선동
              1               1               1               0               1
         동화동         둔촌1동         둔촌2동         등촌1동         등촌2동
              1               0               1               1               1
        등촌3동          마장동         마천1동         마천2동         망우3동
              1               1               1               1               1
       망우본동         망원1동         망원2동         면목2동       면목3.8동
              1               1               1               1               1
        면목4동         면목5동         면목7동        면목본동            명동
              1               1               1               1               1
        명일1동         명일2동           목1동           목2동           목3동
              1               1               1               1               1
          목4동           목5동          무악동           묵1동           묵2동
              1               1               1               1               1
         문래동         문정1동         문정2동          미성동          미아동
              1               1               1               1               1
        반포1동         반포2동         반포3동         반포4동        반포본동
              1               1               1               1               1
        발산1동         방배1동         방배2동         방배3동         방배4동
              1               1               1               1               1
       방배본동         방이1동         방이2동         방학1동         방학2동
              1               1               1               1               1
        방학3동         방화1동         방화2동         방화3동           번1동
              1               1               1               1               1
          번2동           번3동          보광동        보라매동          보문동
              1               1               1               1               1
         부암동       북가좌1동       북가좌2동        북아현동         불광1동
              1               1               1               1               1
        불광2동          사근동         사당1동         사당2동         사당3동
              1               1               1               1               1
        사당4동         사당5동          사직동        삼각산동          삼선동
              1               1               1               1               1
        삼성1동         삼성2동          삼성동          삼양동          삼전동
              1               1               1               1               1
         삼청동        상계10동         상계1동         상계2동       상계3.4동
              1               1               1               1               1
        상계5동       상계6.7동         상계8동         상계9동         상도1동
              1               1               1               1               1
        상도2동         상도3동         상도4동         상봉1동         상봉2동
              1               1               1               1               1
         상암동          상일동          서강동          서교동          서림동
              1               1               1               1               1
       서빙고동          서원동         서초1동         서초2동         서초3동
              1               1               1               1               1
        서초4동          석관동          석촌동         성내1동         성내2동
              1               1               1               1               1
        성내3동          성북동         성산1동         성산2동      성수1가1동
              1               1               1               1               1
     성수1가2동      성수2가1동      성수2가3동          성현동          세곡동
              1               1               1               1               1
           소계          소공동          송정동          송중동          송천동
              0               1               1               1               1
        송파1동         송파2동          수궁동          수색동          수서동
              1               1               1               1               1
        수유1동         수유2동         수유3동         숭인1동         숭인2동
              1               1               1               1               1
        시흥1동         시흥2동         시흥3동         시흥4동         시흥5동
              1               1               1               1               1
        신길1동         신길3동         신길4동         신길5동         신길6동
              1               1               1               1               1
        신길7동         신내1동         신내2동         신당5동          신당동
              1               1               1               1               1
      신대방1동       신대방2동        신도림동          신림동         신사1동
              1               1               1               1               1
        신사2동          신사동          신수동          신원동         신월1동
              1               2               1               1               1
        신월2동         신월3동         신월4동         신월5동         신월6동
              1               1               1               1               1
        신월7동         신정1동         신정2동         신정3동         신정4동
              1               1               1               1               1
        신정6동         신정7동          신촌동         쌍문1동         쌍문2동
              1               1               1               1               1
        쌍문3동         쌍문4동          아현동          안암동         암사1동
              1               1               1               1               1
        암사2동         암사3동        압구정동          약수동         양재1동
              1               1               1               1               1
        양재2동         양평1동         양평2동        여의도동         역삼1동
              1               1               1               1               1
        역삼2동          역촌동          연남동          연희동          염리동
              1               1               1               1               1
         염창동        영등포동      영등포본동          오금동         오류1동
              1               1               1               1               1
        오류2동          오륜동          옥수동       왕십리2동    왕십리도선동
              1               1               1               1               1
         용강동          용답동          용문동       용산2가동          용신동
              1               1               1               1               1
         우이동        우장산동       원효로1동       원효로2동         월계1동
              1               1               1               1               1
        월계2동         월계3동         월곡1동         월곡2동          위례동
              1               1               1               1               1
         은천동        을지로동          응봉동         응암1동         응암2동
              1               1               1               1               1
        응암3동         이문1동         이문2동         이촌1동         이촌2동
              1               1               1               1               1
      이태원1동       이태원2동          이화동          인수동          인헌동
              1               1               1               1               1
        일원1동         일원2동        일원본동         자양1동         자양2동
              1               1               1               1               1
        자양3동         자양4동         잠실2동         잠실3동         잠실4동
              1               1               1               1               1
        잠실6동         잠실7동        잠실본동          잠원동         장안1동
              1               1               1               1               1
        장안2동         장위1동         장위2동         장위3동          장지동
              1               1               1               1               1
         장충동         전농1동         전농2동         정릉1동         정릉2동
              1               1               1               1               1
        정릉3동         정릉4동          제기동          조원동 종로1.2.3.4가동
              1               1               1               1               1
    종로5·6가동          종암동         중계1동       중계2.3동         중계4동
              1               1               1               1               1
       중계본동         중곡1동         중곡2동         중곡3동         중곡4동
              1               1               1               1               1
         중림동          중앙동         중화1동         중화2동          증산동
              1               1               1               1               1
         진관동           창1동           창2동           창3동           창4동
              1               1               1               1               1
          창5동         창신1동         창신2동         창신3동          천연동
              1               1               1               1               1
        천호1동         천호2동         천호3동          청구동          청담동
              1               1               1               1               1
       청량리동          청룡동          청림동      청운효자동          청파동
              1               1               1               1               1
         충현동          평창동         풍납1동         풍납2동            필동
              1               1               1               1               1
        하계1동         하계2동        한강로동          한남동            합계
              1               1               1               1               0
         합정동         행당1동         행당2동          행운동          혜화동
              1               1               1               1               1
        홍은1동         홍은2동         홍제1동         홍제2동         홍제3동
              1               1               1               1               1
        화곡1동         화곡2동         화곡3동         화곡4동         화곡6동
              1               1               1               1               1
        화곡8동        화곡본동          화양동          황학동          회기동
              1               1               1               1               1
         회현동          효창동          후암동         휘경1동         휘경2동
              1               1               1               1               1
         흑석동
              1

In [6]:
length(bw_03$동)

[1] 423

In [7]:
library(dplyr)

arrange(bw_02, desc(총종사자수))

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

    년도 자치구명 동              사업체수 총종사자수 총여성종사자수
1   2019 금천구   가산동          16661    170886     60313
2   2019 영등포구 여의도동         8132    160633     60484
3   2019 강남구   역삼1동         15451    155883     65738
4   2019 중구     명동             6965    110390     50752
5   2019 종로구   종로1.2.3.4가동 15472    108747     43034
6   2019 구로구   구로3동          7883     92379     35909
7   2019 서초구   서초3동          7725     81064     32105
8   2019 강남구   대치2동          3897     64496     25951
9   2019 중구     소공동           3849     64144     27464
10  2019 강남구   삼성1동          4079     63573     26578
11  2019 강남구   논현2동          5596     62264     25557
12  2019 송파구   문정2동          7131     59850     19515
13  2019 마포구   서교동           9552     57173     29389
14  2019 강서구   가양1동          5790     56353     19376
15  2019 성동구   성수2가3동       5805     53249     20507
16  2019 서초구   서초2동          5072     53003     18980
17  2019 송파구   잠실6동          2629     49280     18668
18  2019 서초구   양재2동          4989     48262     15214
19  2019 종로구   사직동           3574     47522     22368
20  2019 중구     회현동           8566     45216     21794
21  2019 영등포구 문래동           5307     44657     18169
22  2019 서초구   양재1동          3616     44006     15935
23  2019 마포구   상암동           2531     41880     17407
24  2019 강남구   논현1동          5309     41829     19953
25  2019 용산구   한강로동         4899     41427     17051
26  2019 강남구   역삼2동          3775     38437     17093
27  2019 강남구   청담동           4212     38137     20010
28  2019 서대문구 신촌동           3901     37647     21871
29  2019 강남구   삼성2동          3661     37531     17964
30  2019 중구     광희동           8472     36451     16303
... ...  ...      ...             ...      ...        ...
394 2019 도봉구   창3동           915      2170       1158
395 2019 서초구   반포2동         306      2142       1175
396 2019 성북구   돈암1동         386      2116       1097
397 2019 은평구   응암2동         707      2102       1216
398 2019 성동구   금호1가동       567      2100       1174
399 2019 도봉구   쌍문4동         611      2093       1155
400 2019 용산구   보광동          840      2076       1024
401 2019 용산구   용산2가동       601      2070       1126
402 2019 성동구   행당2동         627      2050       1233
403 2019 금천구   시흥4동         853      2034       1144
404 2019 성동구   금호4가동       657      2026       1131
405 2019 금천구   시흥2동         651      2009       1194
406 2019 성북구   정릉1동         757      1976       1020
407 2019 동작구   사당4동         659      1953       1024
408 2019 관악구   난향동          397      1886        942
409 2019 용산구   용문동          630      1789        972
410 2019 서대문구 홍제2동         594      1699        873
411 2019 노원구   상계8동         484      1697       1115
412 2019 송파구   잠실4동         383      1696       1161
413 2019 동작구   사당5동         519      1646        837
414 2019 종로구   무악동          647      1644        772
415 2019 종로구   숭인1동         493      1545        858
416 2019 영등포구 신길4동         433      1461        822
417 2019 관악구   청림동          451      1385        815
418 2019 송파구   잠실7동         196      1284        723
419 2019 노원구   하계2동         414      1220        744
420 2019 성동구   응봉동          369      1028        533
421 2019 종로구   창신3동         281       895        453
422 2019 강남구   개포1동         169       875        211
423 2019 용산구   이촌2동         347       832        338
    농업.임업.및.어업 농업.임업.및.어업(여성) 광업 광업(여성) ...
1    0                0                       0    0          ...
2    0                0                       0    0          ...
3    3                1                       0    0          ...
4    0                0                       0    0          ...
5    0                0                       3    1          ...
6   20                4                       1    0          ...
7    0                0                       0    0          ...
8    8                2                       1    0          ...
9    0                0                       0    0          ...
10   0                0                       0    0          ...
11   0                0                       0    0          ...
12   0                0                       0    0          ...
13   0                0                       0    0          ...
14   0                0                       0    0          ...
15   0                0                       0    0          ...
16  32                6                       0    0          ...
17   2                0                       0    0          ...
18   6                3                       1    0          ...
19  12                4                       2    1          ...
20   0                0                       5    1          ...
21   0                0                       0    0          ...
22   0                0                       0    0          ...
23   0                0                       0    0          ...
24   0                0                       1    0          ...
25   0                0                       0    0          ...
26  25                4                       0    0          ...
27   0                0                       0    0          ...
28   0                0                       0    0          ...
29   0                0                       0    0          ...
30   0                0                       0    0          ...
... ...               ...                     ...  ...
394 0                 0                       0    0          ...
395 0                 0                       0    0          ...
396 0                 0                       0    0          ...
397 0                 0                       0    0          ...
398 0                 0                       0    0          ...
399 0                 0                       0    0          ...
400 0                 0                       0    0          ...
401 0                 0                       0    0          ...
402 0                 0                       0    0          ...
403 0                 0                       0    0          ...
404 0                 0                       0    0          ...
405 0                 0                       0    0          ...
406 0                 0                       0    0          ...
407 0                 0                       0    0          ...
408 0                 0                       0    0          ...
409 0                 0                       0    0          ...
410 0                 0                       0    0          ...
411 0                 0                       0    0          ...
412 0                 0                       0    0          ...
413 0                 0                       0    0          ...
414 0                 0                       0    0          ...
415 0                 0                       0    0          ...
416 0                 0                       0    0          ...
417 0                 0                       0    0          ...
418 0                 0                       0    0          ...
419 0                 0                       0    0          ...
420 0                 0                       0    0          ...
421 0                 0                       0    0          ...
422 0                 0                       0    0          ...
423 0                 0                       0    0          ...
    공공행정.국방.및.사회보장.행정 공공행정.국방.및.사회보장.행정(여성)
1     135                            52
2    5196                          1022
3     775                           400
4   14632                          6727
5    4944                          1578
6     328                           163
7    6771                          2823
8     636                           152
9     364                           125
10    266                            50
11    613                           277
12   1939                           470
13    179                            40
14     24                            15
15     58                            17
16   1556                           833
17   2393                          1288
18     30                             3
19   6088                          2369
20    485                           121
21    467                           208
22    519                           268
23    733                           322
24     97                            22
25    649                           189
26     72                            20
27    258                           117
28    308                           191
29   2304                          1271
30   1435                           695
... ...                            ...
394  20                            13
395 212                            25
396  22                            14
397  57                            20
398  48                            13
399  19                            11
400  55                            20
401  20                            13
402  52                            19
403  24                            17
404  21                            13
405  21                             9
406  19                            12
407  19                             9
408  56                            17
409  23                            12
410  17                            11
411  16                             7
412  65                            20
413  28                            17
414  12                             6
415  17                             8
416  17                            11
417  18                             9
418  11                             8
419  22                            12
420  44                            14
421  43                            14
422  15                             9
423  44                             8
    교육.서비스업 교육.서비스업(여성) 보건업.및.사회복지.서비스업
1    2190         1200                1091
2    1775         1164                3860
3    5035         2801                6429
4    1038          578                2197
5    3225         2064                1645
6    2648         1540                1130
7    2676         1647                1509
8    3800         2140                 964
9     853          509                 772
10    696          435                1531
11   1131          742                1905
12    528          349                 856
13   2521         1509                1759
14    868          526                1253
15   1255          846                 514
16   2125         1316                1253
17    459          349                1206
18    703          466                 486
19    786          474                1096
20    320          185                 728
21    968          647                1018
22   1544          981                1693
23   1367          919                1062
24    731          489                3188
25    526          318                 922
26   1157          741                1243
27   1392         1001                2863
28  10292         5217                9739
29    824          531                1617
30    246          152                1655
... ...           ...                 ...
394 169           133                 328
395 629           469                 169
396 664           447                 221
397 255           181                 612
398 458           335                 294
399 888           545                 174
400 316           134                 209
401 448           325                 146
402 550           429                 244
403 303           252                 353
404 271           213                 245
405 798           586                 313
406 159           127                 305
407 119            82                 404
408 310           207                 311
409  58            44                 245
410 146           103                 195
411 533           399                 402
412 525           424                 258
413 365           286                  88
414 177           134                 486
415  34            21                 220
416 108            81                 237
417 200           140                 313
418 529           338                  23
419 381           304                 187
420 292           247                  91
421 124            91                  89
422  93            69                   9
423  10             6                  76
    보건업.및.사회복지.서비스업(여성) 예술.스포츠.및.여가관련.서비스업
1    771                               454
2   3054                              1363
3   5062                              1478
4   1649                               480
5   1169                              1329
6    912                               556
7   1107                              2340
8    707                               465
9    584                               444
10  1173                              1468
11  1427                               656
12   679                               325
13  1438                              1417
14  1001                               726
15   406                               310
16   998                               379
17   955                               384
18   404                               392
19   838                              1653
20   587                               709
21   884                               303
22  1385                               283
23   886                               656
24  2487                               622
25   691                               222
26   972                               346
27  2253                               518
28  6881                               554
29  1260                               405
30  1231                               149
... ...                               ...
394 286                                40
395 158                                93
396 184                                35
397 483                                42
398 267                                72
399 156                                56
400 161                                23
401 140                                66
402 223                                45
403 308                                48
404 201                                61
405 270                                22
406 267                                53
407 323                                56
408 262                                41
409 221                                22
410 169                                82
411 370                                50
412 242                                21
413  79                               120
414 384                                11
415 181                                23
416 212                                17
417 295                                55
418  20                                20
419 177                                14
420  70                                16
421  71                                18
422   9                                 4
423  71                                 6
    예술.스포츠.및.여가관련.서비스업(여성)
1    214
2    617
3    659
4    246
5    613
6    257
7   1156
8    221
9    200
10   707
11   241
12   149
13   609
14   304
15   114
16   158
17   217
18   217
19   794
20   444
21   124
22   133
23   169
24   270
25   106
26   155
27   211
28   257
29   184
30    52
... ...
394 20
395 26
396 18
397 25
398 39
399 28
400 11
401 39
402 22
403 30
404 34
405 13
406 31
407 26
408 21
409 11
410 37
411 20
412 10
413 66
414  7
415 15
416  9
417 31
418 10
419  6
420  5
421 10
422  2
423  4
    협회.및.단체.수리.및.기타.개인.서비스업
1   1943
2   4283
3   4269
4   2495
5   2835
6   1588
7   2343
8   1006
9   1472
10  1264
11  1935
12   776
13  2267
14  1140
15  2449
16  1074
17   832
18  1102
19   906
20   501
21   846
22  1166
23  1086
24  1404
25  1192
26   730
27  3510
28  1227
29  1073
30   570
... ...
394 153
395 215
396 118
397 168
398 152
399 146
400 178
401  91
402 126
403 203
404 183
405  80
406 144
407 129
408  75
409 118
410 165
411  77
412 112
413 131
414  90
415  95
416  87
417 109
418 109
419  76
420  72
421  39
422  26
423  78
    협회.및.단체.수리.및.기타.개인.서비스업(여성)
1    762
2   1719
3   2311
4   1391
5   1114
6    631
7    859
8    479
9    593
10   676
11   955
12   423
13  1452
14   628
15   425
16   566
17   393
18   409
19   475
20   228
21   414
22   438
23   656
24   882
25   577
26   431
27  2655
28   764
29   604
30   315
... ...
394  87
395 104
396  60
397  96
398  82
399  85
400 102
401  41
402  78
403 114
404  97
405  42
406  73
407  83
408  39
409  72
410  82
411  45
412  82
413  71
414  51
415  53
416  46
417  67
418  52
419  51
420  40
421  16
422  11
423  38

In [8]:
head(bw_02)

  년도 자치구명 동     사업체수 총종사자수 총여성종사자수 농업.임업.및.어업
1 2019 종로구   사직동 3574     47522      22368          12
2 2019 종로구   삼청동  732      4601       2330           0
3 2019 종로구   부암동  599      3454       1690           0
4 2019 종로구   평창동  761      3447       1929           0
5 2019 종로구   무악동  647      1644        772           0
6 2019 종로구   교남동  413      4581       3100           0
  농업.임업.및.어업(여성) 광업 광업(여성) ... 공공행정.국방.및.사회보장.행정
1 4                       2    1          ... 6088
2 0                       0    0          ... 1291
3 0                       1    0          ...   60
4 0                       4    1          ...   90
5 0                       0    0          ...   12
6 0                       0    0          ...   37
  공공행정.국방.및.사회보장.행정(여성) 교육.서비스업 교육.서비스업(여성)
1 2369                                  786          474
2  335                                  297          158
3   13                                 1190          558
4   31                                  425          281
5    6                                  177          134
6   16                                  176           77
  보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업(여성)
1 1096                         838
2   30                          20
3  183                         154
4  480                         392
5  486                         384
6 3139                        2397
  예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업(여성)
1 1653                             794
2  185                             128
3   49                              29
4  185                             100
5   11                               7
6   44                              27
  협회.및.단체.수리.및.기타.개인.서비스업
1 906
2 194
3 325
4 266
5  90
6 170
  협회.및.단체.수리.및.기타.개인.서비스업(여성)
1 475
2 121
3 149
4 150
5  51
6  83

In [9]:
# 15년도

bw15 <- read.table("../Data_SemiProject/2015_business_worker.txt",
           fileEncoding ="utf-8", sep="\t", header=T)

bw15_02 <- bw15


# factor -> character 변경
for(i in 4:ncol(bw15_02)){
    
    bw15_02[,i] <- as.character(bw15_02[,i])
}
str(bw15_02)

# 동별 사업체, 총 종사자 수 , 업종별 종사자 수 데이터
# 업종별 컬럼 앞에 .1 -> 해당 업종 여성 종사자 수

bw15_02 <- subset(bw15_02, 자치구 != "합계" & 동 != "합계" & 동 != "소계")[-1,]

# 컴마, 하이픈 제거
for(j in 1:nrow(bw15_02)){

    bw15_02[j,4:ncol(bw15_02)] <- str_replace_all(bw15_02[j,4:ncol(bw15_02)], ",", "")
    bw15_02[j,4:ncol(bw15_02)] <- str_replace_all(bw15_02[j,4:ncol(bw15_02)], "-", '0')
}

# 정수형 데이터로 변경
for(i in 4:ncol(bw15_02)){
    
    bw15_02[,i] <- as.integer(bw15_02[,i])
}


# 열이름 변경
colnames(bw15_02) <- c("년도", "자치구명", "동", "사업체수", "총종사자수", "총여성종사자수", colnames(bw15_02[,7:ncol(bw15_02)]) )

# 행이름 초기화
rownames(bw15_02) <- c()

bw15_02 <- subset(bw15_02, 동 != '둔촌1동')



# .1 -> (여성합)

colnames(bw15_02) <- str_replace_all(colnames(bw15_02), ".1", "(여성)")
head(bw15_02)

'data.frame':	451 obs. of  44 variables:
 $ 기간                                       : Factor w/ 2 levels "2015","기간": 2 1 1 1 1 1 1 1 1 1 ...
 $ 자치구                                     : Factor w/ 27 levels "강남구","강동구",..: 23 27 24 24 24 24 24 24 24 24 ...
 $ 동                                         : Factor w/ 426 levels "가락1동","가락2동",..: 89 400 211 163 171 151 392 118 31 9 ...
 $ 합계                                       : chr  "사업체수" "820,658" "40,871" "3,551" ...
 $ 합계.1                                     : chr  "총종사자수" "5,108,828" "269,106" "51,425" ...
 $ 합계.2                                     : chr  "여성종사자수" "2,221,109" "116,340" "21,644" ...
 $ 농업.임업.및.어업                          : chr  "소계" "491" "16" "16" ...
 $ 농업.임업.및.어업.1                        : chr  "여성종사자수" "90" "3" "3" ...
 $ 광업                                       : chr  "소계" "69" "7" "-" ...
 $ 광업.1                                     : chr  "여성종사자수" "12" "2" "-" ...
 $ 제조업                                     : chr  "소계" "287,414" "11,734" "228" ...
 $ 제조업.1                                   : chr  "여성종사자수" "120,075" "4,710" "98" ...
 $ 전기.가스.증기.및.수도사업                 : chr  "소계" "8,713" "387" "2" ...
 $ 전기.가스.증기.및.수도사업.1               : chr  "여성종사자수" "1,629" "67" "-" ...
 $ 하수...폐기물.처리.원료재생.및.환경복원업  : chr  "소계" "6,712" "179" "32" ...
 $ 하수...폐기물.처리.원료재생.및.환경복원업.1: chr  "여성종사자수" "895" "13" "6" ...
 $ 건설업                                     : chr  "소계" "360,192" "25,269" "4,158" ...
 $ 건설업.1                                   : chr  "여성종사자수" "46,916" "3,518" "696" ...
 $ 도매.및.소매업                             : chr  "소계" "912,406" "46,970" "4,074" ...
 $ 도매.및.소매업.1                           : chr  "여성종사자수" "398,758" "19,199" "1,682" ...
 $ 운수업                                     : chr  "소계" "279,921" "7,841" "2,281" ...
 $ 운수업.1                                   : chr  "여성종사자수" "44,279" "1,881" "851" ...
 $ 숙박.및.음식점업                           : chr  "소계" "480,090" "28,451" "4,524" ...
 $ 숙박.및.음식점업.1                         : chr  "여성종사자수" "284,087" "16,998" "2,830" ...
 $ 출판.영상.방송통신.및.정보서비스업         : chr  "소계" "350,342" "17,754" "2,822" ...
 $ 출판.영상.방송통신.및.정보서비스업.1       : chr  "여성종사자수" "106,255" "6,942" "1,006" ...
 $ 금융.및.보험업                             : chr  "소계" "285,098" "21,335" "6,422" ...
 $ 금융.및.보험업.1                           : chr  "여성종사자수" "140,121" "10,045" "2,698" ...
 $ 부동산업.및.임대업                         : chr  "소계" "168,981" "7,367" "2,089" ...
 $ 부동산업.및.임대업.1                       : chr  "여성종사자수" "56,862" "2,375" "634" ...
 $ 전문.과학.및.기술.서비스업                 : chr  "소계" "452,004" "23,629" "7,659" ...
 $ 전문.과학.및.기술.서비스업.1               : chr  "여성종사자수" "157,357" "9,665" "3,772" ...
 $ 사업시설관리.및.사업지원.서비스업          : chr  "소계" "428,089" "17,843" "5,123" ...
 $ 사업시설관리.및.사업지원.서비스업.1        : chr  "여성종사자수" "215,890" "10,579" "2,645" ...
 $ 공공행정.국방.및.사회보장.행정             : chr  "소계" "136,166" "17,172" "7,691" ...
 $ 공공행정.국방.및.사회보장.행정.1           : chr  "여성종사자수" "47,043" "5,171" "2,345" ...
 $ 교육.서비스업                              : chr  "소계" "340,950" "13,646" "774" ...
 $ 교육.서비스업.1                            : chr  "여성종사자수" "209,619" "7,240" "435" ...
 $ 보건업.및.사회복지.서비스업                : chr  "소계" "320,189" "15,472" "830" ...
 $ 보건업.및.사회복지.서비스업.1              : chr  "여성종사자수" "250,065" "11,357" "642" ...
 $ 예술.스포츠.및.여가관련.서비스업           : chr  "소계" "80,512" "5,903" "1,541" ...
 $ 예술.스포츠.및.여가관련.서비스업.1         : chr  "여성종사자수" "35,754" "2,786" "757" ...
 $ 협회.및.단체.수리..및.기타.개인.서비스업   : chr  "소계" "210,489" "8,131" "1,159" ...
 $ 협회.및.단체.수리..및.기타.개인.서비스업.1 : chr  "여성종사자수" "105,402" "3,789" "544" ...

  년도 자치구명 동     사업체수 총종사자수 총여성종사자수 농업.임업.및.어업
1 2015 종로구   사직동 3551     51425      21644          16
2 2015 종로구   삼청동  738      4736       2362           0
3 2015 종로구   부암동  540      3635       1921           0
4 2015 종로구   평창동  665      3059       1621           0
5 2015 종로구   무악동  581      1510        706           0
6 2015 종로구   교남동  320      3158       1816           0
  농업.임업.및.어업(여성) 광업 광업(여성) ... 공공행정.국방.및.사회보장.행정
1 3                       0    0          ... 7691
2 0                       0    0          ... 1164
3 0                       5    1          ...   61
4 0                       0    0          ...   79
5 0                       0    0          ...   14
6 0                       0    0          ...   34
  공공행정.국방.및.사회보장.행정(여성) 교육.서비스업 교육.서비스업(여성)
1 2345                                  774          435
2  273                                  357          184
3   11                                 1496          795
4   22                                  294          179
5    9                                  176          114
6   14                                  200           62
  보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업(여성)
1  830                         642
2   34                          24
3   90                          76
4  374                         302
5  365                         291
6 1802                        1285
  예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업(여성)
1 1541                             757
2  158                             111
3   60                              37
4  141                              67
5   16                               9
6   26                              14
  협회.및.단체.수리..및.기타.개인.서비스업
1 1159
2  197
3  450
4  241
5   94
6  159
  협회.및.단체.수리..및.기타.개인.서비스업(여성)
1 544
2 128
3 203
4 144
5  50
6  67

In [10]:
# 16년도

bw16 <- read.table("../Data_SemiProject/2016_business_worker.txt",
           fileEncoding ="utf-8", sep="\t", header=T)

bw16_02 <- bw16


# factor -> character 변경
for(i in 4:ncol(bw16_02)){
    
    bw16_02[,i] <- as.character(bw16_02[,i])
}
str(bw16_02)

# 동별 사업체, 총 종사자 수 , 업종별 종사자 수 데이터
# 업종별 컬럼 앞에 .1 -> 해당 업종 여성 종사자 수

bw16_02 <- subset(bw16_02, 자치구 != "합계" & 동 != "합계" & 동 != "소계")[-1,]

# 컴마, 하이픈 제거
for(j in 1:nrow(bw16_02)){

    bw16_02[j,4:ncol(bw16_02)] <- str_replace_all(bw16_02[j,4:ncol(bw16_02)], ",", "")
    bw16_02[j,4:ncol(bw16_02)] <- str_replace_all(bw16_02[j,4:ncol(bw16_02)], "-", '0')
}

# 정수형 데이터로 변경
for(i in 4:ncol(bw16_02)){
    
    bw16_02[,i] <- as.integer(bw16_02[,i])
}


# 열이름 변경
colnames(bw16_02) <- c("년도", "자치구명", "동", "사업체수", "총종사자수", "총여성종사자수", colnames(bw16_02[,7:ncol(bw16_02)]) )

# 행이름 초기화
rownames(bw16_02) <- c()

bw16_02 <- subset(bw16_02, 동 != '둔촌1동')

# .1 -> (여성합)

colnames(bw16_02) <- str_replace_all(colnames(bw16_02), ".1", "(여성)")
head(bw16_02)

'data.frame':	451 obs. of  44 variables:
 $ 기간                                       : Factor w/ 2 levels "2016","기간": 2 1 1 1 1 1 1 1 1 1 ...
 $ 자치구                                     : Factor w/ 27 levels "강남구","강동구",..: 23 27 24 24 24 24 24 24 24 24 ...
 $ 동                                         : Factor w/ 426 levels "가락1동","가락2동",..: 89 400 211 163 171 151 392 118 31 9 ...
 $ 합계                                       : chr  "사업체수" "820,156" "40,664" "3,489" ...
 $ 합계.1                                     : chr  "총종사자수" "5,079,451" "268,309" "53,850" ...
 $ 합계.2                                     : chr  "여성종사자수" "2,232,049" "113,975" "22,208" ...
 $ 농업.임업.및.어업                          : chr  "소계" "463" "36" "18" ...
 $ 농업.임업.및.어업.1                        : chr  "여성종사자수" "77" "4" "4" ...
 $ 광업                                       : chr  "소계" "54" "5" "-" ...
 $ 광업.1                                     : chr  "여성종사자수" "6" "1" "-" ...
 $ 제조업                                     : chr  "소계" "279,103" "12,708" "228" ...
 $ 제조업.1                                   : chr  "여성종사자수" "117,102" "5,206" "95" ...
 $ 전기.가스.증기.및.수도사업                 : chr  "소계" "7,617" "384" "4" ...
 $ 전기.가스.증기.및.수도사업.1               : chr  "여성종사자수" "1,644" "86" "2" ...
 $ 하수...폐기물.처리.원료재생.및.환경복원업  : chr  "소계" "6,597" "135" "32" ...
 $ 하수...폐기물.처리.원료재생.및.환경복원업.1: chr  "여성종사자수" "870" "9" "5" ...
 $ 건설업                                     : chr  "소계" "365,074" "29,630" "7,141" ...
 $ 건설업.1                                   : chr  "여성종사자수" "49,017" "3,025" "681" ...
 $ 도매.및.소매업                             : chr  "소계" "891,454" "45,461" "3,866" ...
 $ 도매.및.소매업.1                           : chr  "여성종사자수" "394,753" "18,940" "1,560" ...
 $ 운수업                                     : chr  "소계" "276,926" "6,835" "2,246" ...
 $ 운수업.1                                   : chr  "여성종사자수" "46,269" "1,747" "819" ...
 $ 숙박.및.음식점업                           : chr  "소계" "470,357" "26,773" "4,166" ...
 $ 숙박.및.음식점업.1                         : chr  "여성종사자수" "279,419" "15,879" "2,524" ...
 $ 출판.영상.방송통신.및.정보서비스업         : chr  "소계" "344,155" "16,898" "2,533" ...
 $ 출판.영상.방송통신.및.정보서비스업.1       : chr  "여성종사자수" "106,832" "5,554" "943" ...
 $ 금융.및.보험업                             : chr  "소계" "269,712" "20,406" "4,744" ...
 $ 금융.및.보험업.1                           : chr  "여성종사자수" "130,466" "9,640" "1,654" ...
 $ 부동산업.및.임대업                         : chr  "소계" "177,672" "8,260" "2,000" ...
 $ 부동산업.및.임대업.1                       : chr  "여성종사자수" "62,768" "2,726" "632" ...
 $ 전문.과학.및.기술.서비스업                 : chr  "소계" "435,086" "21,603" "7,229" ...
 $ 전문.과학.및.기술.서비스업.1               : chr  "여성종사자수" "155,416" "8,963" "3,483" ...
 $ 사업시설관리.및.사업지원.서비스업          : chr  "소계" "460,776" "20,542" "8,172" ...
 $ 사업시설관리.및.사업지원.서비스업.1        : chr  "여성종사자수" "233,055" "12,295" "4,566" ...
 $ 공공행정.국방.및.사회보장.행정             : chr  "소계" "136,043" "16,396" "7,165" ...
 $ 공공행정.국방.및.사회보장.행정.1           : chr  "여성종사자수" "47,191" "5,434" "2,815" ...
 $ 교육.서비스업                              : chr  "소계" "333,486" "13,130" "890" ...
 $ 교육.서비스업.1                            : chr  "여성종사자수" "203,226" "6,828" "559" ...
 $ 보건업.및.사회복지.서비스업                : chr  "소계" "332,028" "14,278" "738" ...
 $ 보건업.및.사회복지.서비스업.1              : chr  "여성종사자수" "259,186" "10,586" "577" ...
 $ 예술.스포츠.및.여가관련.서비스업           : chr  "소계" "84,990" "6,332" "1,514" ...
 $ 예술.스포츠.및.여가관련.서비스업.1         : chr  "여성종사자수" "38,774" "3,123" "765" ...
 $ 협회.및.단체.수리..및.기타.개인.서비스업   : chr  "소계" "207,858" "8,497" "1,164" ...
 $ 협회.및.단체.수리..및.기타.개인.서비스업.1 : chr  "여성종사자수" "105,978" "3,929" "524" ...

  년도 자치구명 동     사업체수 총종사자수 총여성종사자수 농업.임업.및.어업
1 2016 종로구   사직동 3489     53850      22208          18
2 2016 종로구   삼청동  751      4823       2475           0
3 2016 종로구   부암동  575      3690       1794           0
4 2016 종로구   평창동  708      2990       1585           0
5 2016 종로구   무악동  573      1472        716           0
6 2016 종로구   교남동  302      3612       2108           0
  농업.임업.및.어업(여성) 광업 광업(여성) ... 공공행정.국방.및.사회보장.행정
1 4                       0    0          ... 7165
2 0                       0    0          ... 1199
3 0                       5    1          ...   60
4 0                       0    0          ...   85
5 0                       0    0          ...   13
6 0                       0    0          ...   42
  공공행정.국방.및.사회보장.행정(여성) 교육.서비스업 교육.서비스업(여성)
1 2815                                  890          559
2  282                                  354          188
3   13                                 1530          702
4   29                                  236          146
5    9                                  169          128
6   11                                  150           54
  보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업(여성)
1  738                         577
2   29                          22
3   90                          72
4  366                         299
5  400                         315
6 2304                        1581
  예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업(여성)
1 1514                             765
2  163                             112
3   80                              48
4  163                              74
5   16                               7
6   23                              10
  협회.및.단체.수리..및.기타.개인.서비스업
1 1164
2  253
3  476
4  265
5  123
6  182
  협회.및.단체.수리..및.기타.개인.서비스업(여성)
1 524
2 161
3 222
4 154
5  70
6  86

In [11]:
# 17년도

bw17 <- read.table("../Data_SemiProject/2017_business_worker.txt",
           fileEncoding ="utf-8", sep="\t", header=T)

bw17_02 <- bw17


# factor -> character 변경
for(i in 4:ncol(bw17_02)){
    
    bw17_02[,i] <- as.character(bw17_02[,i])
}
str(bw17_02)

# 동별 사업체, 총 종사자 수 , 업종별 종사자 수 데이터
# 업종별 컬럼 앞에 .1 -> 해당 업종 여성 종사자 수

bw17_02 <- subset(bw17_02, 자치구 != "합계" & 동 != "합계" & 동 != "소계")[-1,]

# 컴마, 하이픈 제거
for(j in 1:nrow(bw17_02)){

    bw17_02[j,4:ncol(bw17_02)] <- str_replace_all(bw17_02[j,4:ncol(bw17_02)], ",", "")
    bw17_02[j,4:ncol(bw17_02)] <- str_replace_all(bw17_02[j,4:ncol(bw17_02)], "-", '0')
}

# 정수형 데이터로 변경
for(i in 4:ncol(bw17_02)){
    
    bw17_02[,i] <- as.integer(bw17_02[,i])
}


# 열이름 변경
colnames(bw17_02) <- c("년도", "자치구명", "동", "사업체수", "총종사자수", "총여성종사자수", colnames(bw17_02[,7:ncol(bw17_02)]) )

# 행이름 초기화
rownames(bw17_02) <- c()

bw17_02 <- subset(bw17_02, 동 != '둔촌1동')



# .1 -> (여성합)

colnames(bw17_02) <- str_replace_all(colnames(bw17_02), ".1", "(여성)")
head(bw17_02)

'data.frame':	451 obs. of  44 variables:
 $ 기간                                      : Factor w/ 2 levels "2017","기간": 2 1 1 1 1 1 1 1 1 1 ...
 $ 자치구                                    : Factor w/ 27 levels "강남구","강동구",..: 23 27 24 24 24 24 24 24 24 24 ...
 $ 동                                        : Factor w/ 426 levels "가락1동","가락2동",..: 89 400 211 163 171 151 392 118 31 9 ...
 $ 합계                                      : chr  "사업체수" "822,863" "40,490" "3,544" ...
 $ 합계.1                                    : chr  "총종사자수" "5,119,913" "268,702" "52,489" ...
 $ 합계.2                                    : chr  "여성종사자수" "2,271,763" "114,602" "21,460" ...
 $ 농업.임업.및.어업                         : chr  "계" "469" "30" "16" ...
 $ 농업.임업.및.어업.1                       : chr  "여성종사자수" "88" "10" "4" ...
 $ 광업                                      : chr  "계" "66" "10" "-" ...
 $ 광업.1                                    : chr  "여성종사자수" "8" "2" "-" ...
 $ 제조업                                    : chr  "계" "277,920" "13,078" "217" ...
 $ 제조업.1                                  : chr  "여성종사자수" "116,468" "5,562" "86" ...
 $ 전기.가스.증기.및.공기조절.공급업         : chr  "계" "5,576" "363" "8" ...
 $ 전기.가스.증기.및.공기조절.공급업.1       : chr  "여성종사자수" "1,177" "94" "5" ...
 $ 수도.하수.및.폐기물.처리.원료.재생업      : chr  "계" "8,963" "136" "31" ...
 $ 수도.하수.및.폐기물.처리.원료.재생업.1    : chr  "여성종사자수" "1,327" "8" "5" ...
 $ 건설업                                    : chr  "계" "385,208" "30,754" "7,331" ...
 $ 건설업.1                                  : chr  "여성종사자수" "51,564" "3,592" "693" ...
 $ 도매.및.소매업                            : chr  "계" "888,464" "44,263" "3,485" ...
 $ 도매.및.소매업.1                          : chr  "여성종사자수" "397,306" "19,160" "1,450" ...
 $ 운수.및.창고업                            : chr  "계" "274,793" "6,818" "1,911" ...
 $ 운수.및.창고업.1                          : chr  "여성종사자수" "46,331" "1,808" "878" ...
 $ 숙박.및.음식점업                          : chr  "계" "474,515" "26,577" "4,027" ...
 $ 숙박.및.음식점업.1                        : chr  "여성종사자수" "281,484" "16,052" "2,538" ...
 $ 정보통신업                                : chr  "계" "345,030" "18,628" "2,645" ...
 $ 정보통신업.1                              : chr  "여성종사자수" "106,558" "5,785" "934" ...
 $ 금융.및.보험업                            : chr  "계" "268,252" "21,634" "4,680" ...
 $ 금융.및.보험업.1                          : chr  "여성종사자수" "131,974" "10,486" "1,720" ...
 $ 부동산업                                  : chr  "계" "158,593" "7,223" "1,228" ...
 $ 부동산업.1                                : chr  "여성종사자수" "55,862" "2,521" "479" ...
 $ 전문.과학.및.기술.서비스업                : chr  "계" "437,822" "20,315" "7,817" ...
 $ 전문.과학.및.기술.서비스업.1              : chr  "여성종사자수" "157,914" "8,439" "3,751" ...
 $ 사업시설.관리.사업.지원.및.임대.서비스업  : chr  "계" "478,382" "18,625" "7,298" ...
 $ 사업시설.관리.사업.지원.및.임대.서비스업.1: chr  "여성종사자수" "242,776" "10,219" "4,060" ...
 $ 공공행정.국방.및.사회보장.행정            : chr  "계" "138,150" "16,504" "7,667" ...
 $ 공공행정.국방.및.사회보장.행정.1          : chr  "여성종사자수" "49,489" "4,978" "2,548" ...
 $ 교육.서비스업                             : chr  "계" "341,732" "13,317" "898" ...
 $ 교육.서비스업.1                           : chr  "여성종사자수" "210,109" "7,437" "549" ...
 $ 보건업.및.사회복지.서비스업               : chr  "계" "358,563" "15,954" "764" ...
 $ 보건업.및.사회복지.서비스업.1             : chr  "여성종사자수" "284,717" "11,787" "588" ...
 $ 예술.스포츠.및.여가관련.서비스업          : chr  "계" "86,452" "6,198" "1,546" ...
 $ 예술.스포츠.및.여가관련.서비스업.1        : chr  "여성종사자수" "39,622" "2,940" "708" ...
 $ 협회.및.단체.수리.및.기타.개인.서비스업   : chr  "계" "190,963" "8,275" "920" ...
 $ 협회.및.단체.수리.및.기타.개인.서비스업.1 : chr  "여성종사자수" "96,989" "3,722" "464" ...

  년도 자치구명 동     사업체수 총종사자수 총여성종사자수 농업.임업.및.어업
1 2017 종로구   사직동 3544     52489      21460          16
2 2017 종로구   삼청동  753      4507       2282           0
3 2017 종로구   부암동  567      4147       2010           0
4 2017 종로구   평창동  739      3547       1868           0
5 2017 종로구   무악동  531      1457        728           0
6 2017 종로구   교남동  347      3816       2263           0
  농업.임업.및.어업(여성) 광업 광업(여성) ... 공공행정.국방.및.사회보장.행정
1 4                       0    0          ... 7667
2 0                       0    0          ... 1229
3 0                       5    1          ...   58
4 0                       0    0          ...   77
5 0                       0    0          ...   14
6 0                       0    0          ...   37
  공공행정.국방.및.사회보장.행정(여성) 교육.서비스업 교육.서비스업(여성)
1 2548                                  898          549
2  279                                  279          148
3    9                                 1543          832
4   29                                  661          377
5    9                                  174          126
6   13                                  165           69
  보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업(여성)
1  764                         588
2   28                          22
3  153                         129
4  385                         315
5  469                         378
6 2490                        1722
  예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업(여성)
1 1546                             708
2  172                             116
3   73                              46
4  167                              74
5   14                               4
6   31                              12
  협회.및.단체.수리.및.기타.개인.서비스업
1 920
2 216
3 806
4 303
5  95
6 159
  협회.및.단체.수리.및.기타.개인.서비스업(여성)
1 464
2 132
3 227
4 161
5  46
6  68

In [12]:
# 18년도

bw18 <- read.table("../Data_SemiProject/2018_business_worker.txt",
           fileEncoding ="utf-8", sep="\t", header=T)

bw18_02 <- bw18


# factor -> character 변경
for(i in 4:ncol(bw18_02)){
    
    bw18_02[,i] <- as.character(bw18_02[,i])
}
str(bw18_02)

# 동별 사업체, 총 종사자 수 , 업종별 종사자 수 데이터
# 업종별 컬럼 앞에 .1 -> 해당 업종 여성 종사자 수

bw18_02 <- subset(bw18_02, 자치구 != "합계" & 동 != "합계" & 동 != "소계")[-1,]

# 컴마, 하이픈 제거
for(j in 1:nrow(bw18_02)){

    bw18_02[j,4:ncol(bw18_02)] <- str_replace_all(bw18_02[j,4:ncol(bw18_02)], ",", "")
    bw18_02[j,4:ncol(bw18_02)] <- str_replace_all(bw18_02[j,4:ncol(bw18_02)], "-", '0')
}

# 정수형 데이터로 변경
for(i in 4:ncol(bw18_02)){
    
    bw18_02[,i] <- as.integer(bw18_02[,i])
}


# 열이름 변경
colnames(bw18_02) <- c("년도", "자치구명", "동", "사업체수", "총종사자수", "총여성종사자수", colnames(bw18_02[,7:ncol(bw18_02)]) )

# 행이름 초기화
rownames(bw18_02) <- c()

bw18_02 <- subset(bw18_02, 동 != '둔촌1동')



# .1 -> (여성합)

colnames(bw18_02) <- str_replace_all(colnames(bw18_02), ".1", "(여성)")
head(bw18_02)

'data.frame':	451 obs. of  44 variables:
 $ 기간                                      : Factor w/ 2 levels "2018","기간": 2 1 1 1 1 1 1 1 1 1 ...
 $ 자치구                                    : Factor w/ 27 levels "강남구","강동구",..: 23 27 24 24 24 24 24 24 24 24 ...
 $ 동                                        : Factor w/ 426 levels "가락1동","가락2동",..: 89 400 211 163 171 151 392 118 31 9 ...
 $ 합계                                      : chr  "사업체수" "823,385" "39,952" "3,541" ...
 $ 합계.1                                    : chr  "총종사자수" "5,210,936" "265,017" "49,536" ...
 $ 합계.2                                    : chr  "여성종사자수" "2,332,709" "112,300" "20,878" ...
 $ 농업.임업.및.어업                         : chr  "계" "462" "17" "14" ...
 $ 농업.임업.및.어업.1                       : chr  "여성종사자수" "78" "4" "3" ...
 $ 광업                                      : chr  "계" "81" "10" "-" ...
 $ 광업.1                                    : chr  "여성종사자수" "19" "2" "-" ...
 $ 제조업                                    : chr  "계" "266,500" "13,071" "240" ...
 $ 제조업.1                                  : chr  "여성종사자수" "112,051" "5,624" "108" ...
 $ 전기.가스.증기.및.공기조절.공급업         : chr  "계" "6,083" "350" "1" ...
 $ 전기.가스.증기.및.공기조절.공급업.1       : chr  "여성종사자수" "1,147" "13" "-" ...
 $ 수도.하수.및.폐기물.처리.원료.재생업      : chr  "계" "9,139" "126" "33" ...
 $ 수도.하수.및.폐기물.처리.원료.재생업.1    : chr  "여성종사자수" "1,401" "10" "7" ...
 $ 건설업                                    : chr  "계" "379,353" "30,305" "5,887" ...
 $ 건설업.1                                  : chr  "여성종사자수" "52,067" "3,871" "620" ...
 $ 도매.및.소매업                            : chr  "계" "896,326" "43,116" "2,972" ...
 $ 도매.및.소매업.1                          : chr  "여성종사자수" "404,451" "18,742" "1,227" ...
 $ 운수.및.창고업                            : chr  "계" "272,618" "7,260" "2,386" ...
 $ 운수.및.창고업.1                          : chr  "여성종사자수" "46,332" "1,976" "934" ...
 $ 숙박.및.음식점업                          : chr  "계" "495,092" "27,639" "4,243" ...
 $ 숙박.및.음식점업.1                        : chr  "여성종사자수" "293,073" "16,439" "2,609" ...
 $ 정보통신업                                : chr  "계" "357,761" "18,599" "2,086" ...
 $ 정보통신업.1                              : chr  "여성종사자수" "113,740" "5,978" "858" ...
 $ 금융.및.보험업                            : chr  "계" "262,273" "19,260" "4,639" ...
 $ 금융.및.보험업.1                          : chr  "여성종사자수" "126,717" "8,945" "1,771" ...
 $ 부동산업                                  : chr  "계" "158,063" "6,392" "1,103" ...
 $ 부동산업.1                                : chr  "여성종사자수" "57,242" "2,220" "387" ...
 $ 전문.과학.및.기술.서비스업                : chr  "계" "463,519" "21,766" "7,932" ...
 $ 전문.과학.및.기술.서비스업.1              : chr  "여성종사자수" "166,592" "8,045" "2,978" ...
 $ 사업시설.관리.사업.지원.및.임대.서비스업  : chr  "계" "496,433" "18,157" "7,464" ...
 $ 사업시설.관리.사업.지원.및.임대.서비스업.1: chr  "여성종사자수" "254,267" "9,927" "4,137" ...
 $ 공공행정.국방.및.사회보장.행정            : chr  "계" "140,121" "15,658" "6,312" ...
 $ 공공행정.국방.및.사회보장.행정.1          : chr  "여성종사자수" "52,738" "5,839" "2,795" ...
 $ 교육.서비스업                             : chr  "계" "346,219" "13,504" "967" ...
 $ 교육.서비스업.1                           : chr  "여성종사자수" "211,444" "7,317" "614" ...
 $ 보건업.및.사회복지.서비스업               : chr  "계" "378,366" "15,888" "870" ...
 $ 보건업.및.사회복지.서비스업.1             : chr  "여성종사자수" "299,776" "10,685" "673" ...
 $ 예술.스포츠.및.여가관련.서비스업          : chr  "계" "91,104" "6,227" "1,544" ...
 $ 예술.스포츠.및.여가관련.서비스업.1        : chr  "여성종사자수" "42,165" "2,983" "693" ...
 $ 협회.및.단체.수리.및.기타.개인.서비스업   : chr  "계" "191,423" "7,672" "843" ...
 $ 협회.및.단체.수리.및.기타.개인.서비스업.1 : chr  "여성종사자수" "97,409" "3,680" "464" ...

  년도 자치구명 동     사업체수 총종사자수 총여성종사자수 농업.임업.및.어업
1 2018 종로구   사직동 3541     49536      20878          14
2 2018 종로구   삼청동  712      4577       2384           0
3 2018 종로구   부암동  565      3609       1903           0
4 2018 종로구   평창동  751      3565       1895           0
5 2018 종로구   무악동  581      1598        795           0
6 2018 종로구   교남동  393      4008       1522           0
  농업.임업.및.어업(여성) 광업 광업(여성) ... 공공행정.국방.및.사회보장.행정
1 3                       0    0          ... 6312
2 0                       0    0          ... 1204
3 0                       1    0          ...   59
4 0                       5    1          ...   85
5 0                       0    0          ...   16
6 0                       0    0          ...   40
  공공행정.국방.및.사회보장.행정(여성) 교육.서비스업 교육.서비스업(여성)
1 2795                                  967          614
2  292                                  260          144
3    9                                 1424          742
4   26                                  618          364
5   11                                  185          140
6   16                                  176           82
  보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업(여성)
1  870                        673
2   30                         21
3  148                        137
4  466                        367
5  482                        382
6 2499                        828
  예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업(여성)
1 1544                             693
2  175                             124
3   40                              18
4  186                              91
5   12                               2
6   44                              17
  협회.및.단체.수리.및.기타.개인.서비스업
1 843
2 209
3 362
4 262
5 102
6 181
  협회.및.단체.수리.및.기타.개인.서비스업(여성)
1 464
2 125
3 196
4 137
5  60
6  83

In [13]:
bw19_02 <- bw_02

# 열 이름 선언 뒤 초기화
colnames(bw15_02) <- colnames(bw_02)
colnames(bw16_02) <- colnames(bw_02)
colnames(bw17_02) <- colnames(bw_02)
colnames(bw18_02) <- colnames(bw_02)
colnames(bw19_02) <- colnames(bw_02)

# 15~19 합치기
business_worker <- rbind(bw15_02, bw16_02, bw17_02, bw18_02, bw19_02)

# 년도를 오름차순후 년도 기준에서 자치구명 오름차순, 그 기준에서 동 오름차순 정렬
business_worker <- arrange(business_worker, business_worker$년도, business_worker$자치구명, business_worker$동)

# 사업체, 종사자수 최종
business_worker

length(unique(business_worker$년도))
length(unique(business_worker$자치구명))
length(unique(business_worker$동))

     년도 자치구명 동        사업체수 총종사자수 총여성종사자수
1    2015 강남구   개포1동     490      1694       582
2    2015 강남구   개포2동     902      3466      1988
3    2015 강남구   개포4동    2403     12402      4077
4    2015 강남구   논현1동    5770     43779     20314
5    2015 강남구   논현2동    5731     65282     27341
6    2015 강남구   대치1동    1013      7103      3974
7    2015 강남구   대치2동    3579     51945     21308
8    2015 강남구   대치4동    3756     29049     12176
9    2015 강남구   도곡1동    1656     19542      8015
10   2015 강남구   도곡2동    1970     22083      8674
11   2015 강남구   삼성1동    4292     69772     26346
12   2015 강남구   삼성2동    3872     37420     16386
13   2015 강남구   세곡동      897      4598      2086
14   2015 강남구   수서동     1650     16875      6282
15   2015 강남구   신사동     4958     29398     15240
16   2015 강남구   압구정동   4360     34695     18755
17   2015 강남구   역삼1동   15116    154595     63195
18   2015 강남구   역삼2동    3489     40726     16037
19   2015 강남구   일원1동    1917      6527      2216
20   2015 강남구   일원2동     646      8585      2396
21   2015 강남구   일원본동    526      8164      5708
22   2015 강남구   청담동     4597     43578     22402
23   2015 강동구   강일동      912     16424      3548
24   2015 강동구   고덕1동     581      1959       954
25   2015 강동구   고덕2동    1798      3214       977
26   2015 강동구   길동       3968     19939      9479
27   2015 강동구   둔촌2동    1565      9063      4378
28   2015 강동구   명일1동    1655      6003      3544
29   2015 강동구   명일2동    1304      5077      2835
30   2015 강동구   상일동     1106      5472      2773
...  ...  ...      ...       ...      ...        ...
2086 2019 중구     다산동     1424      9742      4728
2087 2019 중구     동화동     1005      4045      2172
2088 2019 중구     명동       6965    110390     50752
2089 2019 중구     소공동     3849     64144     27464
2090 2019 중구     신당5동    1193      4057      2083
2091 2019 중구     신당동    11459     29891     16972
2092 2019 중구     약수동      833      4122      2369
2093 2019 중구     을지로동   8812     35333     12521
2094 2019 중구     장충동      819      9181      3927
2095 2019 중구     중림동     1016      7530      3952
2096 2019 중구     청구동      881      4419      1821
2097 2019 중구     필동       2886     22404      9793
2098 2019 중구     황학동     1947      5643      2433
2099 2019 중구     회현동     8566     45216     21794
2100 2019 중랑구   망우3동    1132      3746      1900
2101 2019 중랑구   망우본동   3827     12002      5732
2102 2019 중랑구   면목2동    2062      6306      3132
2103 2019 중랑구   면목3.8동  2123      7671      3819
2104 2019 중랑구   면목4동    1172      3839      1681
2105 2019 중랑구   면목5동     830      3050      1194
2106 2019 중랑구   면목7동    1477      4335      2301
2107 2019 중랑구   면목본동   2572      7681      4206
2108 2019 중랑구   묵1동      1555      5736      3047
2109 2019 중랑구   묵2동      1811      4688      2231
2110 2019 중랑구   상봉1동    1171      6638      3139
2111 2019 중랑구   상봉2동    2159      9306      4494
2112 2019 중랑구   신내1동    2017     11518      4889
2113 2019 중랑구   신내2동    1120      6468      3483
2114 2019 중랑구   중화1동    1089      3590      1951
2115 2019 중랑구   중화2동    2111      6771      2961
     농업.임업.및.어업 농업.임업.및.어업(여성) 광업 광업(여성) ...
1     0                0                       0    0          ...
2     0                0                       0    0          ...
3     0                0                       0    0          ...
4     0                0                       0    0          ...
5     0                0                       5    0          ...
6     0                0                       0    0          ...
7     0                0                       5    1          ...
8     0                0                       0    0          ...
9     0                0                       0    0          ...
10    0                0                       0    0          ...
11    1                0                       0    0          ...
12    0                0                       7    1          ...
13    0                0                       0    0          ...
14   77                7                       0    0          ...
15    0                0                       0    0          ...
16    0                0                       0    0          ...
17    1                0                       0    0          ...
18    0                0                       0    0          ...
19    0                0                       0    0          ...
20    0                0                       0    0          ...
21    0                0                       0    0          ...
22    0                0                       0    0          ...
23    0                0                       0    0          ...
24    5                2                       0    0          ...
25    0                0                       0    0          ...
26   14                7                       0    0          ...
27    0                0                       0    0          ...
28    0                0                       0    0          ...
29    0                0                       0    0          ...
30    0                0                       5    0          ...
...  ...               ...                     ...  ...
2086 0                 0                       0    0          ...
2087 0                 0                       0    0          ...
2088 0                 0                       0    0          ...
2089 0                 0                       0    0          ...
2090 0                 0                       0    0          ...
2091 0                 0                       0    0          ...
2092 0                 0                       0    0          ...
2093 0                 0                       0    0          ...
2094 0                 0                       0    0          ...
2095 0                 0                       0    0          ...
2096 0                 0                       0    0          ...
2097 0                 0                       0    0          ...
2098 0                 0                       0    0          ...
2099 0                 0                       5    1          ...
2100 0                 0                       0    0          ...
2101 0                 0                       0    0          ...
2102 0                 0                       0    0          ...
2103 0                 0                       0    0          ...
2104 0                 0                       0    0          ...
2105 0                 0                       0    0          ...
2106 0                 0                       0    0          ...
2107 0                 0                       0    0          ...
2108 0                 0                       0    0          ...
2109 0                 0                       0    0          ...
2110 0                 0                       0    0          ...
2111 0                 0                       0    0          ...
2112 0                 0                       0    0          ...
2113 0                 0                       0    0          ...
2114 0                 0                       0    0          ...
2115 0                 0                       0    0          ...
     공공행정.국방.및.사회보장.행정 공공행정.국방.및.사회보장.행정(여성)
1      15                             8
2      15                            10
3      78                            16
4      68                            18
5     649                           260
6     148                            52
7     138                            85
8      99                            77
9       0                             0
10     18                             6
11    627                            81
12   1962                           903
13     47                            18
14     47                            17
15     63                            20
16     50                            13
17    699                           309
18     62                            15
19     15                             7
20    379                            73
21     50                             9
22    252                           108
23     65                            25
24     72                            13
25     10                             4
26    263                            99
27     51                            12
28     23                            17
29     42                             8
30     33                            21
...  ...                            ...
2086    22                            16
2087    18                            14
2088 14632                          6727
2089   364                           125
2090    44                            14
2091  1388                            36
2092    92                            22
2093   388                            73
2094   144                            54
2095    49                            14
2096    19                            15
2097  1184                           404
2098    23                            11
2099   485                           121
2100    21                            12
2101   123                            21
2102    84                            21
2103    73                            27
2104    73                            29
2105    72                            16
2106    25                            11
2107    81                            20
2108    65                            22
2109    51                             8
2110    28                            19
2111   132                            52
2112   402                            42
2113  2156                           968
2114    23                            12
2115   124                            29
     교육.서비스업 교육.서비스업(여성) 보건업.및.사회복지.서비스업
1     231           185                  65
2    1264           913                 189
3     477           319                 649
4     711           454                2464
5    2007          1179                1767
6    2721          1544                 670
7    2954          1601                 900
8    2767          1452                1039
9     748           465                2837
10    978           673                 347
11    979           604                1319
12   1081           706                1100
13    654           491                 791
14    496           300                 737
15   1378           856                3091
16   2261          1403                3093
17   3614          2020                5516
18   1030           664                1078
19    570           366                 448
20    260           169                 651
21    691           453                6064
22   1308           869                3084
23    751           562                 523
24    582           354                 293
25    436           264                 173
26   1219           923                2541
27    564           434                2217
28    556           360                1052
29   1057           662                 367
30    963           530                1708
...  ...           ...                 ...
2086  407           270                 475
2087  187           142                 188
2088 1038           578                2197
2089  853           509                 772
2090  299           181                 447
2091  457           207                 404
2092  204           145                1235
2093  113            49                 856
2094   84            62                  66
2095  355           211                 315
2096  454           231                 232
2097 3488          1686                 576
2098   93            76                 196
2099  320           185                 728
2100  333           236                 409
2101 1119           729                1583
2102  280           219                 632
2103 1168           608                 934
2104  394           303                 260
2105   38            20                  86
2106  195           139                 563
2107  394           309                 969
2108  685           502                 627
2109  274           200                 461
2110  748           518                 680
2111  290           192                 840
2112  618           433                3076
2113  766           565                 935
2114  531           399                 560
2115   92            71                 398
     보건업.및.사회복지.서비스업(여성) 예술.스포츠.및.여가관련.서비스업
1      58                                 4
2     152                               100
3     517                               236
4    1926                               644
5    1342                               701
6     531                               141
7     618                               438
8     797                               432
9    2131                               298
10    289                               253
11   1029                              1335
12    848                               389
13    669                                75
14    570                               207
15   2482                               431
16   2374                               441
17   4350                              1365
18    814                               403
19    367                               186
20    536                                73
21   4619                                59
22   2380                               550
23    475                                80
24    214                                44
25    120                               102
26   1784                               342
27   1551                               103
28    867                               210
29    308                               119
30   1166                               166
...  ...                               ...
2086  355                              106
2087  157                               77
2088 1649                              480
2089  584                              444
2090  262                               91
2091  292                              174
2092  972                               82
2093  599                              214
2094   46                              423
2095  252                              114
2096  195                               60
2097  415                              433
2098  155                               81
2099  587                              709
2100  349                               57
2101 1270                              302
2102  541                               95
2103  729                              231
2104  208                               99
2105   70                               36
2106  477                              129
2107  841                              142
2108  514                              158
2109  392                              125
2110  558                               86
2111  638                              494
2112 2464                              184
2113  794                               92
2114  446                               44
2115  333                              269
     예술.스포츠.및.여가관련.서비스업(여성)
1      1
2     53
3    106
4    269
5    236
6     70
7    214
8    183
9     95
10   103
11   511
12   165
13    38
14   107
15   185
16   136
17   590
18   178
19    77
20    38
21    29
22   269
23    44
24    21
25    50
26   160
27    47
28    89
29    42
30    85
...  ...
2086  55
2087  35
2088 246
2089 200
2090  37
2091  76
2092  45
2093  96
2094 220
2095  51
2096  21
2097 177
2098  31
2099 444
2100  25
2101 160
2102  49
2103 102
2104  49
2105  17
2106  52
2107  70
2108  74
2109  62
2110  45
2111 258
2112  82
2113  33
2114  19
2115 122
     협회.및.단체.수리.및.기타.개인.서비스업
1     100
2     270
3     584
4    1440
5    2087
6     364
7     867
8    1040
9     483
10    435
11   1414
12   1020
13    171
14    345
15   1146
16   2432
17   5291
18    906
19    284
20    243
21    175
22   3208
23    209
24    107
25    174
26   1261
27    429
28    527
29    280
30    161
...  ...
2086  343
2087  213
2088 2495
2089 1472
2090  170
2091  238
2092  208
2093  412
2094  179
2095  463
2096  201
2097  392
2098  233
2099  501
2100  148
2101  587
2102  291
2103  356
2104  161
2105  112
2106  290
2107  410
2108  463
2109  330
2110  205
2111  360
2112  414
2113  220
2114  212
2115  459
     협회.및.단체.수리.및.기타.개인.서비스업(여성)
1      56
2     170
3     209
4     845
5    1087
6     211
7     424
8     552
9     196
10    222
11    634
12    543
13     73
14    167
15    728
16   1666
17   2965
18    514
19    144
20    170
21     71
22   2388
23     93
24     51
25     62
26    742
27    241
28    264
29    177
30     54
...  ...
2086  162
2087  111
2088 1391
2089  593
2090   93
2091  135
2092  124
2093  139
2094  106
2095  286
2096  103
2097  204
2098  133
2099  228
2100   88
2101  315
2102  141
2103  209
2104   84
2105   45
2106  165
2107  249
2108  255
2109  156
2110  118
2111  185
2112  224
2113  141
2114  119
2115  212

[1] 5

[1] 25

[1] 423

In [14]:
write.table(business_worker ,"../Data_SemiProject/2015-2019_business_worker.txt")

In [15]:
head(business_worker)

  년도 자치구명 동      사업체수 총종사자수 총여성종사자수 농업.임업.및.어업
1 2015 강남구   개포1동  490      1694        582          0
2 2015 강남구   개포2동  902      3466       1988          0
3 2015 강남구   개포4동 2403     12402       4077          0
4 2015 강남구   논현1동 5770     43779      20314          0
5 2015 강남구   논현2동 5731     65282      27341          0
6 2015 강남구   대치1동 1013      7103       3974          0
  농업.임업.및.어업(여성) 광업 광업(여성) ... 공공행정.국방.및.사회보장.행정
1 0                       0    0          ...  15
2 0                       0    0          ...  15
3 0                       0    0          ...  78
4 0                       0    0          ...  68
5 0                       5    0          ... 649
6 0                       0    0          ... 148
  공공행정.국방.및.사회보장.행정(여성) 교육.서비스업 교육.서비스업(여성)
1   8                                   231           185
2  10                                  1264           913
3  16                                   477           319
4  18                                   711           454
5 260                                  2007          1179
6  52                                  2721          1544
  보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업(여성)
1   65                          58
2  189                         152
3  649                         517
4 2464                        1926
5 1767                        1342
6  670                         531
  예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업(여성)
1   4                                1
2 100                               53
3 236                              106
4 644                              269
5 701                              236
6 141                               70
  협회.및.단체.수리.및.기타.개인.서비스업
1  100
2  270
3  584
4 1440
5 2087
6  364
  협회.및.단체.수리.및.기타.개인.서비스업(여성)
1   56
2  170
3  209
4  845
5 1087
6  211

In [16]:
subset(business_worker, 동 == "신사동")

     년도 자치구명 동     사업체수 총종사자수 총여성종사자수 농업.임업.및.어업
15   2015 강남구   신사동 4958     29398      15240          0
85   2015 관악구   신사동 1428      4470       2245          0
438  2016 강남구   신사동 4503     27741      14505          0
508  2016 관악구   신사동 1422      4712       2184          0
861  2017 강남구   신사동 4365     26783      14346          0
931  2017 관악구   신사동 1384      4721       2223          0
1284 2018 강남구   신사동 4223     26902      14238          0
1354 2018 관악구   신사동 1388      4696       2233          0
1707 2019 강남구   신사동 4140     26210      14106          0
1777 2019 관악구   신사동 1359      4356       2094          0
     농업.임업.및.어업(여성) 광업 광업(여성) ... 공공행정.국방.및.사회보장.행정
15   0                       0    0          ... 63
85   0                       0    0          ... 42
438  0                       0    0          ... 46
508  0                       0    0          ... 54
861  0                       0    0          ... 54
931  0                       0    0          ... 53
1284 0                       0    0          ... 61
1354 0                       0    0          ... 54
1707 0                       0    0          ... 60
1777 0                       0    0          ... 78
     공공행정.국방.및.사회보장.행정(여성) 교육.서비스업 교육.서비스업(여성)
15   20                                   1378          856
85   11                                    369          298
438  12                                   1254          800
508  16                                    338          262
861  15                                   1296          839
931  17                                    326          248
1284 20                                   1311          865
1354 17                                    373          277
1707 12                                   1266          851
1777 14                                    308          222
     보건업.및.사회복지.서비스업 보건업.및.사회복지.서비스업(여성)
15   3091                        2482
85    366                         303
438  3216                        2565
508   346                         293
861  3359                        2717
931   438                         371
1284 3406                        2752
1354  467                         400
1707 3305                        2661
1777  450                         390
     예술.스포츠.및.여가관련.서비스업 예술.스포츠.및.여가관련.서비스업(여성)
15   431                              185
85   100                               35
438  375                              178
508  118                               43
861  429                              210
931  109                               44
1284 550                              247
1354 125                               48
1707 474                              221
1777 149                               58
     협회.및.단체.수리.및.기타.개인.서비스업
15   1146
85    327
438   966
508   324
861  1017
931   326
1284 1000
1354  319
1707  972
1777  339
     협회.및.단체.수리.및.기타.개인.서비스업(여성)
15   728
85   160
438  630
508  159
861  670
931  157
1284 649
1354 154
1707 649
1777 168

In [18]:
for(i in 2:3){
    
    business_worker[,i] <- as.character(business_worker[,i])
}

'data.frame':	2115 obs. of  44 variables:
 $ 년도                                          : Factor w/ 6 levels "2015","기간",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ 자치구명                                      : chr  "강남구" "강남구" "강남구" "강남구" ...
 $ 동                                            : chr  "개포1동" "개포2동" "개포4동" "논현1동" ...
 $ 사업체수                                      : int  490 902 2403 5770 5731 1013 3579 3756 1656 1970 ...
 $ 총종사자수                                    : int  1694 3466 12402 43779 65282 7103 51945 29049 19542 22083 ...
 $ 총여성종사자수                                : int  582 1988 4077 20314 27341 3974 21308 12176 8015 8674 ...
 $ 농업.임업.및.어업                             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 농업.임업.및.어업(여성)                       : int  0 0 0 0 0 0 0 0 0 0 ...
 $ 광업                                          : int  0 0 0 0 5 0 5 0 0 0 ...
 $ 광업(여성)                                    : int  0 0 0 0 0 0 1 0 0 0 ...
 $ 제조업                                        : int  11 26 299 1478 1545 22 1937 268 1568 176 ...
 $ 제조업(여성)                                  : int  6 11 101 773 797 9 975 77 783 75 ...
 $ 전기.가스.증기.및.공기조절.공급업             : int  0 0 0 0 0 0 373 273 72 190 ...
 $ 전기.가스.증기.및.공기조절.공급업(여성)       : int  0 0 0 0 0 0 58 31 21 23 ...
 $ 수도.하수.및.폐기물.처리.원료.재생업          : int  3 0 0 0 0 0 2 194 0 4 ...
 $ 수도.하수.및.폐기물.처리.원료.재생업(여성)    : int  1 0 0 0 0 0 0 37 0 1 ...
 $ 건설업                                        : int  182 52 2531 3079 7848 73 3968 844 2208 3031 ...
 $ 건설업(여성)                                  : int  19 7 379 492 1115 17 547 149 288 338 ...
 $ 도매.및.소매업                                : int  241 470 3022 10351 12580 551 12859 6639 2567 3297 ...
 $ 도매.및.소매업(여성)                          : int  120 221 1016 4858 5708 279 5203 2716 1038 1412 ...
 $ 운수.및.창고업                                : int  543 102 255 312 1618 18 503 391 270 622 ...
 $ 운수.및.창고업(여성)                          : int  22 8 31 78 537 3 101 60 36 28 ...
 $ 숙박.및.음식점업                              : int  50 459 651 3985 4861 1010 3080 3029 1106 1614 ...
 $ 숙박.및.음식점업(여성)                        : int  33 281 388 2049 2738 604 1818 1780 647 957 ...
 $ 정보통신업                                    : int  4 50 693 4784 6569 21 3094 2056 1866 3489 ...
 $ 정보통신업(여성)                              : int  0 16 137 1712 2192 8 802 594 484 1057 ...
 $ 금융.및.보험업                                : int  18 71 56 1738 1532 530 2644 2844 539 964 ...
 $ 금융.및.보험업(여성)                          : int  9 30 30 861 687 308 1172 1017 322 368 ...
 $ 부동산업                                      : int  217 270 506 1775 2337 367 2009 1770 745 1514 ...
 $ 부동산업(여성)                                : int  63 80 135 630 789 138 697 628 229 575 ...
 $ 전문.과학.및.기술.서비스업                    : int  10 114 1672 6950 11928 459 11220 4303 3835 2749 ...
 $ 전문.과학.및.기술.서비스업(여성)              : int  1 34 421 3030 4690 194 3997 1637 1052 974 ...
 $ 사업시설.관리.사업.지원.및.임대.서비스업      : int  0 14 693 4000 7248 8 4954 1061 400 2402 ...
 $ 사업시설.관리.사업.지원.및.임대.서비스업(여성): int  0 2 272 2319 3984 6 2995 389 228 1573 ...
 $ 공공행정.국방.및.사회보장.행정                : int  15 15 78 68 649 148 138 99 0 18 ...
 $ 공공행정.국방.및.사회보장.행정(여성)          : int  8 10 16 18 260 52 85 77 0 6 ...
 $ 교육.서비스업                                 : int  231 1264 477 711 2007 2721 2954 2767 748 978 ...
 $ 교육.서비스업(여성)                           : int  185 913 319 454 1179 1544 1601 1452 465 673 ...
 $ 보건업.및.사회복지.서비스업                   : int  65 189 649 2464 1767 670 900 1039 2837 347 ...
 $ 보건업.및.사회복지.서비스업(여성)             : int  58 152 517 1926 1342 531 618 797 2131 289 ...
 $ 예술.스포츠.및.여가관련.서비스업              : int  4 100 236 644 701 141 438 432 298 253 ...
 $ 예술.스포츠.및.여가관련.서비스업(여성)        : int  1 53 106 269 236 70 214 183 95 103 ...
 $ 협회.및.단체.수리.및.기타.개인.서비스업       : int  100 270 584 1440 2087 364 867 1040 483 435 ...
 $ 협회.및.단체.수리.및.기타.개인.서비스업(여성) : int  56 170 209 845 1087 211 424 552 196 222 ...

In [19]:
# 신사동_강남, 신사동_관악 구분자

for(i in 1:nrow(business_worker)){
    
    if(business_worker$자치구명[i] == '강남구' & business_worker$동[i] == '신사동'){
        
        business_worker$동[i] <- '신사동_강남'
    }else if(business_worker$자치구명[i] == '관악구' & business_worker$동[i] == '신사동'){
        
        business_worker$동[i] <- '신사동_관악'
    }
    
}

In [23]:
subset(business_worker, 동 == '신사동_관악')

     년도 자치구명 동          사업체수 총종사자수 총여성종사자수
85   2015 관악구   신사동_관악 1428     4470       2245
508  2016 관악구   신사동_관악 1422     4712       2184
931  2017 관악구   신사동_관악 1384     4721       2223
1354 2018 관악구   신사동_관악 1388     4696       2233
1777 2019 관악구   신사동_관악 1359     4356       2094
     농업.임업.및.어업 농업.임업.및.어업(여성) 광업 광업(여성) ...
85   0                 0                       0    0          ...
508  0                 0                       0    0          ...
931  0                 0                       0    0          ...
1354 0                 0                       0    0          ...
1777 0                 0                       0    0          ...
     공공행정.국방.및.사회보장.행정 공공행정.국방.및.사회보장.행정(여성)
85   42                             11
508  54                             16
931  53                             17
1354 54                             17
1777 78                             14
     교육.서비스업 교육.서비스업(여성) 보건업.및.사회복지.서비스업
85   369           298                 366
508  338           262                 346
931  326           248                 438
1354 373           277                 467
1777 308           222                 450
     보건업.및.사회복지.서비스업(여성) 예술.스포츠.및.여가관련.서비스업
85   303                               100
508  293                               118
931  371                               109
1354 400                               125
1777 390                               149
     예술.스포츠.및.여가관련.서비스업(여성)
85   35
508  43
931  44
1354 48
1777 58
     협회.및.단체.수리.및.기타.개인.서비스업
85   327
508  324
931  326
1354 319
1777 339
     협회.및.단체.수리.및.기타.개인.서비스업(여성)
85   160
508  159
931  157
1354 154
1777 168

In [24]:
# 신사동_강남, 신사동_관악 으로 구분자

write.table(business_worker ,"../Data_SemiProject/2015-2019_business_worker_02.txt")