In [ ]:
## 결국쓸것!!!
# Coefficients:
#                  Estimate    Std. Error t value             Pr(>|t|)    
# (Intercept) 47.1182014327 12.0937658225   3.896             0.000213 ***
# 출발시간     4.0947305058  0.2461894344  16.632 < 0.0000000000000002 ***
# 연휴길이     6.7492103116  2.8277394174   2.387             0.019553 *  
# 눈비TRUE    15.0803763701  5.0709612761   2.974             0.003968 ** 
# X1종.교통량  0.0000003768  0.0000001139   3.309             0.001449 ** 
# X2종.교통량 -0.0000184675  0.0000027828  -6.636        0.00000000465 ***
# —
# Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

# Residual standard error: 9.175 on 74 degrees of freedom
# Multiple R-squared:  0.851,	Adjusted R-squared:  0.8409 
# F-statistic: 84.51 on 5 and 74 DF,  p-value: < 0.00000000000000022

In [ ]:
4.0947305058 + 6.7492103116 + 15.0803763701 + 0.0000003768 + (-0.0000184675) + 47.1182014327

In [ ]:
list('hstart'=4.0947305058)

In [11]:

ddayb19 <- read.csv("C:/Program Files/Apache Software Foundation/Tomcat 8.5/webapps/ROOT/Flutter/ddaybefore19_.csv", fileEncoding="utf-8")
head(ddayb19)

ERROR: Error in read.table(file = file, header = header, sep = sep, quote = quote, : invalid 'row.names' specification

In [15]:
result <- as.character(ddayb19$출발시간*0 + ddayb19$연휴길이*3 + ddayb19$눈비*1 +
                      ddayb19$X1종*3793419 + ddayb19$X2종*229419 + ddayb19$b
                      )

[1] "79.6387736342"

In [18]:
as.numeric(result)-9.175
as.numeric(result)+9.175

[1] 70.46377

[1] 88.81377

In [1]:
library(Rserve)

Rserve(FALSE, port=6311, args='--RS-encoding utf8 --no-save')

Starting Rserve on port 6311 :
 /Users/tj/opt/anaconda3/envs/RbBase/lib/R/bin/R CMD /Users/tj/opt/anaconda3/envs/RbBase/lib/R/library/Rserve/libs//Rserve --RS-encoding utf8 --no-save --RS-port 6311

In [3]:
head(ddayb19)

  X    출발시간 연휴길이 눈비     X1종         X2종          b
1 dday 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [9]:
colnames(ddayb19) <- c('hstart', 'hholiday', 'hweather', 'htraffic1', 'htraffic2', 'b')

In [10]:
ddayb19 <- ddayb19[,-1]

  출발시간 연휴길이 눈비     X1종         X2종          b
1 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [11]:
colnames(ddayb19) <- c('hstart', 'hholiday', 'hweather', 'htraffic1', 'htraffic2', 'b')

In [9]:
head(ddayb19)

  X    출발시간 연휴길이 눈비     X1종         X2종          b
1 dday 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [13]:
result <- as.character(ddayb19$hstart*" + hstar+ t "+ ddayb19$hholiday*" + hholiday + 
    "ddayb19$hweather*" + hweather + "ddayb19$htraffic1*" + htraffic1 + "ddayb19$htraffic2*" + htraffic2 + "+ddayb19$b)"

In [15]:
ddayb19 <- read.csv("C:/Program Files/Apache Software Foundation/Tomcat 8.5/webapps/ROOT/Flutter/ddaybefore19_3.csv", fileEncoding = )

In [16]:
head(ddayb19)

  X hstart   hholiday hweather htraffic1    htraffic2     b
1 1 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [18]:
ddayb19 <- ddayb19[,-1]
dday

In [19]:
result <- as.character(ddayb19[1,1]*0 + ddayb19[1,2]*3 + ddayb19[1,3]*1 +
                      ddayb19[1,4]*3793419 + ddayb19[1,5]*229419 + ddayb19[1,6]
                      )

In [20]:
result

[1] "79.6387736342"

In [23]:
ddayb19 <- read.csv("C:/Program Files/Apache Software Foundation/Tomcat 8.5/webapps/ROOT/Flutter/ddaybefore19_4.csv")

In [24]:
ddayb19 <- ddayb19[,-1]

In [25]:
ddayb19

  hstart   hholiday hweather htraffic1    htraffic2     b
1 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [27]:
write.csv(ddayb19, "C:/Program Files/Apache Software Foundation/Tomcat 8.5/webapps/ROOT/Flutter/ddaybefore19_4.csv", row.names = F)

In [28]:
read.csv("C:/Program Files/Apache Software Foundation/Tomcat 8.5/webapps/ROOT/Flutter/ddaybefore19_4.csv", fileEncoding = "utf-8")

  hstart   hholiday hweather htraffic1    htraffic2     b
1 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [2]:
dday <- read.csv('/usr/local/Tomcat/webapps/ROOT/Flutter/dday.csv')

In [3]:
dday

  X        hstart     hholiday hweather htraffic1 htraffic2    hspop
1 before19   4.094731  6.74921 15.08038 3.768e-07 -1.84675e-05 0.000e+00
2 after19  -11.800000 17.05000  0.00000 0.000e+00  1.52900e-05 5.783e-05
  b         error
1   47.1182 9.175
2 -280.1000 2.547

In [4]:
str(dday)

'data.frame':	2 obs. of  9 variables:
 $ X        : Factor w/ 2 levels "after19","before19": 2 1
 $ hstart   : num  4.09 -11.8
 $ hholiday : num  6.75 17.05
 $ hweather : num  15.1 0
 $ htraffic1: num  3.77e-07 0.00
 $ htraffic2: num  -1.85e-05 1.53e-05
 $ hspop    : num  0.00 5.78e-05
 $ b        : num  47.1 -280.1
 $ error    : num  9.18 2.55

In [ ]:
conn.eval("if(dday[,1] == 'after19'){")
    
}