In [1]:
no <- 1:4
name <- c("Apple", "Banana", "Peach", "Berry")
price <- c(500, 200, 200, 50)
qty <- c(5,4,3,2)

In [2]:
# 벡터를 이용하여 데이터 프레임 만들기
fruit <- data.frame(번호=no, 제품=name, 금액=price, 수량=qty)
fruit

  번호 제품   금액 수량
1 1    Apple  500  5
2 2    Banana 200  4
3 3    Peach  200  3
4 4    Berry   50  2

In [3]:
# 현재 메모리에 있는 변수 보기

ls()

[1] "fruit" "name"  "no"    "price" "qty"

In [4]:
# 메모리 형태로 파일 보관

save(no, fruit, name, file = "../Data/testFruit.txt")

In [5]:
# fruit

In [6]:
# 메모리로 불러오기 
load("../Data//testFruit.txt")

In [7]:
fruit

  번호 제품   금액 수량
1 1    Apple  500  5
2 2    Banana 200  4
3 3    Peach  200  3
4 4    Berry   50  2

In [8]:
# fruit를 csv로 저장하기

write.csv(fruit, "../Data/fruit.csv")

In [9]:
fruit2 <- read.csv("../Data//fruit.csv")
# x : rownames

In [10]:
write.csv(fruit2, "../Data/fruit2.csv")

In [11]:
read.csv("../Data//fruit2.csv")

  X.1 X 번호 제품   금액 수량
1 1   1 1    Apple  500  5
2 2   2 2    Banana 200  4
3 3   3 3    Peach  200  3
4 4   4 4    Berry   50  2

In [12]:
# 저장시 주의 사항 : row names가 필요치 않으면 저장하지 말아야 한다.
# row.names=F**

write.csv(fruit, "../Data/fruit.csv", row.names=F)

In [13]:
read.csv("../Data//fruit.csv")

  번호 제품   금액 수량
1 1    Apple  500  5
2 2    Banana 200  4
3 3    Peach  200  3
4 4    Berry   50  2

---
# 세계 GDP 순위 데이터 정제 및 차트 만들기

In [14]:
GDP_ranking <- read.csv("../Data//GDP.csv")
GDP_ranking
str(GDP_ranking)
summary(GDP_ranking)

    X   Gross.domestic.product.2018 X.1 X.2                X.3          X.4
1                                   NA
2                                   NA                     (millions of
3       Ranking                     NA  Economy            US dollars)
4                                   NA
5   USA 1                           NA  United States       20,494,100
6   CHN 2                           NA  China               13,608,152
7   JPN 3                           NA  Japan               4,970,916
8   DEU 4                           NA  Germany             3,996,759
9   GBR 5                           NA  United Kingdom      2,825,208
10  FRA 6                           NA  France              2,777,535
11  IND 7                           NA  India               2,726,323
12  ITA 8                           NA  Italy               2,073,902
13  BRA 9                           NA  Brazil              1,868,626
14  CAN 10                          NA  Canada              1,712,510
15  RUS 11                          NA  Russian Federation  1,657,554   a
16  KOR 12                          NA  Korea, Rep.         1,619,424
17  AUS 13                          NA  Australia           1,432,195
18  ESP 14                          NA  Spain               1,426,189
19  MEX 15                          NA  Mexico              1,223,809
20  IDN 16                          NA  Indonesia           1,042,173
21  NLD 17                          NA  Netherlands         913,658
22  SAU 18                          NA  Saudi Arabia        782,483
23  TUR 19                          NA  Turkey              766,509
24  CHE 20                          NA  Switzerland         705,501
25  POL 21                          NA  Poland              585,783
26  SWE 22                          NA  Sweden              551,032
27  BEL 23                          NA  Belgium             531,767
28  ARG 24                          NA  Argentina           518,475     b
29  THA 25                          NA  Thailand            504,993
30  AUT 26                          NA  Austria             455,737
... ... ...                         ... ...                ...          ...
299                                 NA
300                                 NA
301                                 NA
302                                 NA
303                                 NA
304                                 NA
305                                 NA
306                                 NA
307                                 NA
308                                 NA
309                                 NA
310                                 NA
311                                 NA
312                                 NA
313                                 NA
314                                 NA
315                                 NA
316                                 NA
317                                 NA
318                                 NA
319                                 NA
320                                 NA
321                                 NA
322                                 NA
323                                 NA
324                                 NA
325                                 NA
326                                 NA
327                                 NA
328                                 NA

'data.frame':	328 obs. of  6 variables:
 $ X                          : Factor w/ 230 levels "","ABW","AFG",..: 1 1 1 1 216 38 103 52 72 68 ...
 $ Gross.domestic.product.2018: Factor w/ 212 levels "",".. Not available.  ",..: 1 1 212 1 3 114 131 142 153 164 ...
 $ X.1                        : logi  NA NA NA NA NA NA ...
 $ X.2                        : Factor w/ 231 levels "","Afghanistan",..: 1 1 60 1 219 43 104 78 218 73 ...
 $ X.3                        : Factor w/ 220 levels ""," .. "," 1,022 ",..: 1 207 220 1 78 44 137 113 77 75 ...
 $ X.4                        : Factor w/ 8 levels "","a","b","c",..: 1 1 1 1 1 1 1 1 1 1 ...

       X            Gross.domestic.product.2018   X.1
        : 99                      :117          Mode:logical
 ABW    :  1   .. Not available.  :  1          NA's:328
 AFG    :  1   1                  :  1
 AGO    :  1   10                 :  1
 ALB    :  1   100                :  1
 AND    :  1   101                :  1
 (Other):224   (Other)            :206
             X.2               X.3           X.4
               : 98              : 97          :320
 Afghanistan   :  1    ..        : 12   a      :  2
 Albania       :  1    1,624     :  2   b      :  1
 Algeria       :  1    1,022     :  1   c      :  1
 American Samoa:  1    1,040     :  1   d      :  1
 Andorra       :  1    1,042,173 :  1   e      :  1
 (Other)       :225   (Other)    :214   (Other):  2

In [15]:
# 1~4줄 삭제, (1,2,4,5) 컬럼만 발췌
GDP_ranking2 <- GDP_ranking[-c(1:4),-c(3,6)]
head(GDP_ranking2)

   X   Gross.domestic.product.2018 X.2            X.3
5  USA 1                           United States   20,494,100
6  CHN 2                           China           13,608,152
7  JPN 3                           Japan           4,970,916
8  DEU 4                           Germany         3,996,759
9  GBR 5                           United Kingdom  2,825,208
10 FRA 6                           France          2,777,535

In [16]:
# 상위 15개국만 선별한다.

GDP_ranking15 <- GDP_ranking2[1:15,]
# GDP_ranking15 <- head(GDP_ranking2, 15) 도 가능
head(GDP_ranking15)

   X   Gross.domestic.product.2018 X.2            X.3
5  USA 1                           United States   20,494,100
6  CHN 2                           China           13,608,152
7  JPN 3                           Japan           4,970,916
8  DEU 4                           Germany         3,996,759
9  GBR 5                           United Kingdom  2,825,208
10 FRA 6                           France          2,777,535

In [17]:
# 컬럼 이름 정의 : Code, Ranking, Nation, GDP

colnames(GDP_ranking15) <- c("Code", "Ranking", "Nation", "GDP")

GDP_ranking15

   Code Ranking Nation             GDP
5  USA  1       United States       20,494,100
6  CHN  2       China               13,608,152
7  JPN  3       Japan               4,970,916
8  DEU  4       Germany             3,996,759
9  GBR  5       United Kingdom      2,825,208
10 FRA  6       France              2,777,535
11 IND  7       India               2,726,323
12 ITA  8       Italy               2,073,902
13 BRA  9       Brazil              1,868,626
14 CAN  10      Canada              1,712,510
15 RUS  11      Russian Federation  1,657,554
16 KOR  12      Korea, Rep.         1,619,424
17 AUS  13      Australia           1,432,195
18 ESP  14      Spain               1,426,189
19 MEX  15      Mexico              1,223,809

In [18]:
# rownames 새로 구성하기

rownames(GDP_ranking15) <- c()
print(GDP_ranking15)

   Code Ranking             Nation          GDP
1   USA       1      United States  20,494,100
2   CHN       2              China  13,608,152
3   JPN       3              Japan   4,970,916
4   DEU       4            Germany   3,996,759
5   GBR       5     United Kingdom   2,825,208
6   FRA       6             France   2,777,535
7   IND       7              India   2,726,323
8   ITA       8              Italy   2,073,902
9   BRA       9             Brazil   1,868,626
10  CAN      10             Canada   1,712,510
11  RUS      11 Russian Federation   1,657,554
12  KOR      12        Korea, Rep.   1,619,424
13  AUS      13          Australia   1,432,195
14  ESP      14              Spain   1,426,189
15  MEX      15             Mexico   1,223,809

In [19]:
# 구조 확인하기
# 초기 데이터값을 그대로 가지고 있음
str(GDP_ranking15)

'data.frame':	15 obs. of  4 variables:
 $ Code   : Factor w/ 230 levels "","ABW","AFG",..: 216 38 103 52 72 68 94 100 28 34 ...
 $ Ranking: Factor w/ 212 levels "",".. Not available.  ",..: 3 114 131 142 153 164 175 186 197 4 ...
 $ Nation : Factor w/ 231 levels "","Afghanistan",..: 219 43 104 78 218 73 95 102 28 37 ...
 $ GDP    : Factor w/ 220 levels ""," .. "," 1,022 ",..: 78 44 137 113 77 75 74 67 20 19 ...

In [20]:
# Factor의 갯수가 15개가 정상일텐데 이상하다 <- 재구성

GDP_ranking15$Code <- factor(GDP_ranking15$Code)

In [39]:
# for문을 이용한 factor 조정

for(i in 1:ncol(GDP_ranking15)){
    
    GDP_ranking15[,i] <- factor(GDP_ranking15[,i])
}
str(GDP_ranking15)

'data.frame':	15 obs. of  4 variables:
 $ Code   : Factor w/ 15 levels "AUS","BRA","CAN",..: 15 4 11 5 8 7 9 10 2 3 ...
 $ Ranking: Factor w/ 15 levels "1","10","11",..: 1 8 9 10 11 12 13 14 15 2 ...
 $ Nation : Factor w/ 15 levels "Australia","Brazil",..: 15 4 9 6 14 5 7 8 2 3 ...
 $ GDP    : Factor w/ 15 levels "1223809","1426189",..: 15 14 13 12 11 10 9 8 7 6 ...

In [40]:
library(stringr)

GDP_ranking15$GDP <- as.numeric(str_remove_all(GDP_ranking15$GDP, ","))
str(GDP_ranking15)

'data.frame':	15 obs. of  4 variables:
 $ Code   : Factor w/ 15 levels "AUS","BRA","CAN",..: 15 4 11 5 8 7 9 10 2 3 ...
 $ Ranking: Factor w/ 15 levels "1","10","11",..: 1 8 9 10 11 12 13 14 15 2 ...
 $ Nation : Factor w/ 15 levels "Australia","Brazil",..: 15 4 9 6 14 5 7 8 2 3 ...
 $ GDP    : num  20494100 13608152 4970916 3996759 2825208 ...