In [10]:
no <- 1:4
name <- c("Apple", "Banana", "Peach", "Berry")
price <- c(500, 200, 200, 50)
qty <- c(5,4,3,2)

In [11]:
# 벡터를 이용하여 데이터 프레임 만들기
fruit <- data.frame(번호=no, 제품=name, 금액=price, 수량=qty)
fruit

  번호 제품   금액 수량
1 1    Apple  500  5
2 2    Banana 200  4
3 3    Peach  200  3
4 4    Berry   50  2

In [15]:
# 현재 메모리에 있는 변수 보기

ls()

[1] "gty"   "price" "qty"

In [13]:
# 메모리 형태로 파일 보관

save(no, fruit, name, file = "../Data/testFruit.txt")

In [17]:
rm(gty)

Warning message in rm(gty):
“객체 'gty'를 찾을 수 없습니다”

In [18]:
# fruit

ERROR: Error in eval(expr, envir, enclos): 객체 'fruit'를 찾을 수 없습니다

In [20]:
# 메모리로 불러오기 
load("../Data//testFruit.txt")

In [21]:
fruit

  번호 제품   금액 수량
1 1    Apple  500  5
2 2    Banana 200  4
3 3    Peach  200  3
4 4    Berry   50  2

In [23]:
# fruit를 csv로 저장하기

write.csv(fruit, "../Data/fruit.csv")

In [27]:
fruit2 <- read.csv("../Data//fruit.csv")
# x : rownames

Warning message in file(file, "rt"):
“파일 '../Data//fruit2.csv'를 여는데 실패했습니다: No such file or directory”

ERROR: Error in file(file, "rt"): 커넥션을 열 수 없습니다

In [28]:
write.csv(fruit2, "../Data/fruit2.csv")

In [29]:
read.csv("../Data//fruit2.csv")

  X.1 X 번호 제품   금액 수량
1 1   1 1    Apple  500  5
2 2   2 2    Banana 200  4
3 3   3 3    Peach  200  3
4 4   4 4    Berry   50  2

In [30]:
# 저장시 주의 사항 : row names가 필요치 않으면 저장하지 말아야 한다.
# row.names=F**

write.csv(fruit, "../Data/fruit.csv", row.names=F)

In [31]:
read.csv("../Data//fruit.csv")

  번호 제품   금액 수량
1 1    Apple  500  5
2 2    Banana 200  4
3 3    Peach  200  3
4 4    Berry   50  2