In [1]:
acc <- read.table("../Data/trafficAccident_2011_2019.txt")
seoul <- read.csv("../Data/newSeoul2019.csv")
head(acc)
head(seoul)

  V1   V2       V3       V4     V5    V6    V7    V8    V9    V10   V11   V12
1 기간 자치구별 구분     합계   1월   2월   3월   4월   5월   6월   7월   8월
2 2011 합계     발생건수 40,451 3,038 2,573 3,126 3,450 3,603 3,390 3,529 3,360
3 2011 합계     사망자수 435    36    32    20    44    36    37    36    50
4 2011 합계     부상자수 57,625 4,429 3,734 4,513 4,905 5,036 4,831 5,067 4,823
5 2011 종로구   발생건수 1,421  115   99    116   110   122   116   103   122
6 2011 종로구   사망자수 14     2     -     -     1     -     3     1     1
  V13   V14   V15   V16
1 9월   10월  11월  12월
2 3,433 3,734 3,701 3,514
3 37    25    40    42
4 4,893 5,244 5,150 5,000
5 121   135   140   122
6 2     2     1     1

  년도 월 자치구명 발생건수 사망자수 부상자수
1 2011 1  종로구   115      2        165
2 2011 2  종로구    99      0        134
3 2011 3  종로구   116      0        162
4 2011 4  종로구   110      1        153
5 2011 5  종로구   122      0        157
6 2011 6  종로구   116      3        163

In [2]:
# 합계 샘플 데이터 삭제
# 

tail(acc)
tail(seoul)

    V1   V2     V3       V4    V5  V6  V7  V8  V9  V10 V11 V12 V13 V14 V15 V16
698 2019 송파구 발생건수 2,892 212 193 243 228 277 241 227 247 245 304 260 215
699 2019 송파구 사망자수 13    -   2   -   -   3   -   1   1   -   3   3   -
700 2019 송파구 부상자수 4,003 319 253 336 317 398 311 312 340 341 447 330 299
701 2019 강동구 발생건수 1,414 98  87  122 112 139 123 146 127 98  108 146 108
702 2019 강동구 사망자수 11    1   -   -   -   1   1   2   2   2   1   -   1
703 2019 강동구 부상자수 1,910 115 133 163 153 192 179 189 175 137 144 199 131

     년도 월 자치구명 발생건수 사망자수 부상자수
2695 2019  7 강동구   146      2        189
2696 2019  8 강동구   127      2        175
2697 2019  9 강동구    98      2        137
2698 2019 10 강동구   108      1        144
2699 2019 11 강동구   146      0        199
2700 2019 12 강동구   108      1        131

In [3]:
str(acc)
str(seoul)

'data.frame':	703 obs. of  16 variables:
 $ V1 : Factor w/ 10 levels "2011","2012",..: 10 1 1 1 1 1 1 1 1 1 ...
 $ V2 : Factor w/ 27 levels "강남구","강동구",..: 23 27 27 27 24 24 24 25 25 25 ...
 $ V3 : Factor w/ 4 levels "구분","발생건수",..: 1 2 4 3 2 4 3 2 4 3 ...
 $ V4 : Factor w/ 458 levels "1,017","1,029",..: 458 415 421 436 93 240 235 116 239 253 ...
 $ V5 : Factor w/ 213 levels "-","1","100",..: 93 138 158 166 18 94 63 11 1 57 ...
 $ V6 : Factor w/ 209 levels "-","1","100",..: 138 96 149 143 209 1 38 196 1 15 ...
 $ V7 : Factor w/ 219 levels "-","1","100",..: 169 146 100 174 19 1 65 44 1 85 ...
 $ V8 : Factor w/ 221 levels "-","1","100",..: 194 150 189 182 12 2 56 30 144 77 ...
 $ V9 : Factor w/ 223 levels "-","1","100",..: 200 154 176 196 24 1 57 23 2 63 ...
 $ V10: Factor w/ 222 levels "-","1","100",..: 199 151 172 179 18 146 65 17 2 58 ...
 $ V11: Factor w/ 225 levels "-","1","100",..: 205 149 171 190 6 2 58 22 2 58 ...
 $ V12: Factor w/ 218 levels "-","1","100",..: 208 148 187 175 25 2 72 20 2 56 ...
 $ V13: Factor w/ 221 levels "-","1","10","100",..: 221 154 175 186 25 99 69 43 2 82 ...
 $ V14: Factor w/ 223 levels "-","1","100",..: 12 154 129 198 33 90 85 45 90 94 ...
 $ V15: Factor w/ 234 levels "-","1","100",..: 21 158 191 203 43 2 101 34 150 74 ...
 $ V16: Factor w/ 230 levels "-","1","100",..: 33 152 189 195 25 2 72 46 1 107 ...
'data.frame':	2700 obs. of  6 variables:
 $ 년도    : int  2011 2011 2011 2011 2011 2011 2011 2011 2011 2011 ...
 $ 월      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ 자치구명: Factor w/ 25 levels "강남구","강동구",..: 23 23 23 23 23 23 23 23 23 23 ...
 $ 발생건수: int  115 99 116 110 122 116 103 122 121 135 ...
 $ 사망자수: int  2 0 0 1 0 3 1 1 2 2 ...
 $ 부상자수: int  165 134 162 153 157 163 154 171 166 193 ...

In [4]:
table(acc$V2)

  강남구   강동구   강북구   강서구   관악구   광진구   구로구   금천구
      27       27       27       27       27       27       27       27
  노원구   도봉구 동대문구   동작구   마포구 서대문구   서초구   성동구
      27       27       27       27       27       27       27       27
  성북구   송파구   양천구 영등포구   용산구   은평구 자치구별   종로구
      27       27       27       27       27       27        1       27
    중구   중랑구     합계
      27       27       27

In [5]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [29]:
accMonth <- acc[1,]
accMonth[5:ncol(accMonth)]


# 발생건수, 사망자수, 부상자수
acc2 <- arrange(subset(acc, V2 != '합계'& V2 != '자치구별'), desc(V2))[,c(5:ncol(acc))]

head(acc2)
t(acc2[c(4:6),])

  V5  V6  V7  V8  V9  V10 V11 V12 V13 V14  V15  V16
1 1월 2월 3월 4월 5월 6월 7월 8월 9월 10월 11월 12월

  V5  V6  V7  V8  V9  V10 V11 V12 V13 V14 V15 V16
1 134 113 137 149 167 134 159 148 174 161 167 139
2 -   1   -   1   2   1   4   2   -   -   -   1
3 165 146 195 191 223 181 213 192 239 237 224 180
4 120 110 168 133 178 148 165 154 124 164 156 133
5 1   2   4   1   2   -   -   -   -   -   -   1
6 168 138 237 173 225 176 233 217 169 242 224 199

    4   5 6
V5  120 1 168
V6  110 2 138
V7  168 4 237
V8  133 1 173
V9  178 2 225
V10 148 - 176
V11 165 - 233
V12 154 - 217
V13 124 - 169
V14 164 - 242
V15 156 - 224
V16 133 1 199

In [15]:
sum(is.na(acc))
nrow(acc2)

[1] 0

[1] 675

In [31]:
# 합계 샘플 데이터 삭제, 합계 컬럼 삭제
head(acc[-c(1:3),-4])

  V1   V2     V3       V5    V6    V7    V8    V9    V10   V11   V12   V13
4 2011 합계   부상자수 4,429 3,734 4,513 4,905 5,036 4,831 5,067 4,823 4,893
5 2011 종로구 발생건수 115   99    116   110   122   116   103   122   121
6 2011 종로구 사망자수 2     -     -     1     -     3     1     1     2
7 2011 종로구 부상자수 165   134   162   153   157   163   154   171   166
8 2011 중구   발생건수 108   86    141   128   121   115   119   117   140
9 2011 중구   사망자수 -     -     -     3     1     1     1     1     1
  V14   V15   V16
4 5,244 5,150 5,000
5 135   140   122
6 2     1     1
7 193   204   172
8 147   132   143
9 2     3     -

In [100]:
# 구분(사망자수, 발생건수, 부상자수) 컬럼화 / \1~12월 컬럼 로우데이터로 변경

acc3 <- data.frame(발생건수=0, 사망자수=0, 부상자수=0)

for (i in seq(4, nrow(acc2), 3)){

    acc3 <- rbind(acc3 ,t(acc2[c(i:i+2),])
}

acc3

ERROR: Error in match.names(clabs, names(xi)): names do not match previous names

In [83]:
colnames(acc3) 
names(acc3) <- NULL
colnames(acc3)
acc3

[1] "4" "5" "6"

NULL

    [,1] [,2] [,3]
V5  120  1    168
V6  110  2    138
V7  168  4    237
V8  133  1    173
V9  178  2    225
V10 148  -    176
V11 165  -    233
V12 154  -    217
V13 124  -    169
V14 164  -    242
V15 156  -    224
V16 133  1    199