In [ ]:
## 결국쓸것!!!
# Coefficients:
#                  Estimate    Std. Error t value             Pr(>|t|)    
# (Intercept) 47.1182014327 12.0937658225   3.896             0.000213 ***
# 출발시간     4.0947305058  0.2461894344  16.632 < 0.0000000000000002 ***
# 연휴길이     6.7492103116  2.8277394174   2.387             0.019553 *  
# 눈비TRUE    15.0803763701  5.0709612761   2.974             0.003968 ** 
# X1종.교통량  0.0000003768  0.0000001139   3.309             0.001449 ** 
# X2종.교통량 -0.0000184675  0.0000027828  -6.636        0.00000000465 ***
# —
# Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

# Residual standard error: 9.175 on 74 degrees of freedom
# Multiple R-squared:  0.851,	Adjusted R-squared:  0.8409 
# F-statistic: 84.51 on 5 and 74 DF,  p-value: < 0.00000000000000022

In [ ]:
4.0947305058 + 6.7492103116 + 15.0803763701 + 0.0000003768 + (-0.0000184675) + 47.1182014327

In [ ]:
list('hstart'=4.0947305058)

In [5]:

ddayb19 <- read.csv("C:/Program Files/Apache Software Foundation/Tomcat 8.5/webapps/ROOT/Flutter/ddaybefore19.csv", fileEncoding="utf-8")
head(ddayb19)

  X    출발시간 연휴길이 눈비     X1종         X2종          b
1 dday 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [15]:
result <- as.character(ddayb19$출발시간*0 + ddayb19$연휴길이*3 + ddayb19$눈비*1 +
                      ddayb19$X1종*3793419 + ddayb19$X2종*229419 + ddayb19$b
                      )

[1] "79.6387736342"

In [18]:
as.numeric(result)-9.175
as.numeric(result)+9.175

[1] 70.46377

[1] 88.81377

In [3]:
library(Rserve)

Rserve(FALSE, port=6311, args='--RS-encoding utf8 --no-save')

Starting Rserve...
 "C:\Users\user\ANACON~1\envs\RBase\Lib\R\library\Rserve\libs\x64\Rserve.exe" --RS-encoding utf8 --no-save --RS-port 6311

In [3]:
head(ddayb19)

  X    출발시간 연휴길이 눈비     X1종         X2종          b
1 dday 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [9]:
colnames(ddayb19) <- c('hstart', 'hholiday', 'hweather', 'htraffic1', 'htraffic2', 'b')

In [10]:
ddayb19 <- ddayb19[,-1]

  출발시간 연휴길이 눈비     X1종         X2종          b
1 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [11]:
colnames(ddayb19) <- c('hstart', 'hholiday', 'hweather', 'htraffic1', 'htraffic2', 'b')

In [12]:
head(ddayb19)

  hstart   hholiday hweather htraffic1    htraffic2     b
1 4.094731 6.74921  15.08038 0.0000003768 -0.0000184675 47.1182

In [13]:
result <- as.character(ddayb19$hstart*" + hstar+ t "+ ddayb19$hholiday*" + hholiday + 
    "ddayb19$hweather*" + hweather + "ddayb19$htraffic1*" + htraffic1 + "ddayb19$htraffic2*" + htraffic2 + "+ddayb19$b)"

In [4]:
result <- as.character(ddayb19[1,1]*0 + ddayb19[1,2]*3 + ddayb19[1,3]*1 +
                      ddayb19[1,4]*3793419 + ddayb19[1,5]*229419 + ddayb19[1,6]
                      )

ERROR: Error in is.data.frame(x): 객체 'ddayb19'를 찾을 수 없습니다