In [1]:
library(caret)
library(dplyr)
options(warn = -1)
library(caret)
library(nnet)
library(e1071)
library(randomForest)
library(party)
# library(NbClust)
library(class)

Loading required package: lattice
Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

Attaching package: 'randomForest'

The following object is masked from 'package:dplyr':

    combine

The following object is masked from 'package:ggplot2':

    margin

Loading required package: grid
Loading required package: mvtnorm
Loading required package: modeltools
Loading required package: stats4
Loading required package: strucchange
Loading required package: zoo

Attaching package: 'zoo'

The following objects are masked from 'package:base':

    as.Date, as.Date.numeric

Loading required package: sandwich

In [2]:
서울대전앞뒤2일 <- read.csv('../Data_Project/alldata.csv', fileEncoding = "utf-8")[,-c(5:9)]
서울대전앞뒤2일[,1] <- as.Date(서울대전앞뒤2일[,1])
head(서울대전앞뒤2일)

  날짜       일차 출발시간 소요시간
1 2013-02-08 0    0         91
2 2013-02-09 1    0        132
3 2013-02-10 2    0         83
4 2013-02-11 3    0         87
5 2013-02-12 4    0         84
6 2013-02-08 0    1         88

In [3]:
sum <- 0

for (i in 1:100){
  samp <- createDataPartition(서울대전앞뒤2일$소요시간, p=0.7, list=F)
  data.tr <- 서울대전앞뒤2일[samp,]
  data.test <- 서울대전앞뒤2일[-samp,]

  x <- subset(data.test, select = -소요시간)
  y <- data.test$소요시간

  model_rf <- randomForest(소요시간 ~ . , data = data.tr, ntree = 100)
  pred_rf <- predict(model_rf, x)
  예측력_rf <- mean((pred_rf*0.85 < y) & (pred_rf*1.15 > y)) 
  sum <- sum + 예측력_rf
}

sum

[1] 82.22456

In [4]:
## 다 : 66.8
## 1:4 : 68.3

In [5]:
sd22 <- read.csv("../Data_Project/진짜최종.csv", fileEncoding = "UTF-8")

head(sd22)
nrow(sd22)

  소요시간 일차 출발시간 연휴길이
1 91       0    0        3
2 88       0    1        3
3 88       0    2        3
4 87       0    3        3
5 91       0    4        3
6 97       0    5        3

[1] 1008

In [6]:
sum <- 0

for (i in 1:100){
  samp <- createDataPartition(sd22$소요시간, p=0.7, list=F)
  data.tr <- sd22[samp,]
  data.test <- sd22[-samp,]

  x <- subset(data.test, select = -소요시간)
  y <- data.test$소요시간

  model_rf <- randomForest(소요시간 ~ . , data = data.tr, ntree = 100)
  pred_rf <- predict(model_rf, x)
  예측력_rf <- mean((pred_rf*0.80< y) & (pred_rf*1.2 > y)) 
  sum <- sum + 예측력_rf
}

sum

[1] 83.73333

In [7]:
sdTime <- aggregate(소요시간 ~ 출발시간, sd22, mean)
sdTime

   출발시간 소요시간
1   0        94.14286
2   1        93.76190
3   2        94.45238
4   3        95.54762
5   4        94.47619
6   5        95.47619
7   6        96.69048
8   7        98.02381
9   8        97.64286
10  9        99.69048
11 10       102.69048
12 11       105.30952
13 12       111.04762
14 13       115.23810
15 14       118.45238
16 15       120.92857
17 16       120.95238
18 17       125.69048
19 18       127.19048
20 19       127.07143
21 20       124.90476
22 21       120.73810
23 22       115.61905
24 23       111.02381

In [8]:
table(sd22$일차)

  0   1   2   3   4   5
192 192 192 192 168  72

In [9]:
sd222 <- read.csv("../Data_Project/진짜최종_날짜포함.csv", fileEncoding = "utf-8")

In [10]:
head(sd222)

  소요시간 일차 출발시간 연휴길이 날짜
1 91       0    0        2013     2013-02-08
2 88       1    0        2013     2013-02-08
3 88       2    0        2013     2013-02-08
4 87       3    0        2013     2013-02-08
5 91       4    0        2013     2013-02-08
6 97       5    0        2013     2013-02-08

In [11]:
popCar <- read.csv("../Data_Project/인구수자동차수.csv", fileEncoding = "utf-8")
popCar

  X  년도 서울인구수 승용차  승합차 차합계
1  1 2013 10388055   2462515 156871 2619386
2  6 2014 10369593   2510742 149991 2660733
3 11 2015 10297138   2560154 141927 2702081
4 16 2016 10204057   2598344 134309 2732653
5 21 2017 10124579   2641190 127564 2768754
6 26 2018 10049607   2658637 120780 2779417
7 31 2019 10010983   2670803 114310 2785113
8 37 2020  9911088   2711984 106504 2818488

In [12]:
nrow(sd222)

[1] 1056

In [13]:
table(sd222$일차)

 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44

In [14]:
table(sd222$출발시간)

  0   1   2   3   4   5   6
192 192 192 192 192  72  24

In [98]:
sd555 <- read.csv("../Data_Project/AI프로젝트22.csv", fileEncoding = 'utf-8')

In [99]:
sd555 <- sd555[,-5]
sd12 <- sd555[,6:8]
head(sd12)
sd12 <- scale(sd12)
head(sd12)

  X1종.교통량 X2종.교통량 서울인구수
1 3793419     229419      10388055
2 2514790     203047      10388055
3 1846564     235137      10388055
4 1632415     305994      10388055
5 2247045     444384      10388055
6 5186824     774325      10388055

     X1종.교통량 X2종.교통량 서울인구수
[1,] -0.7736980  -0.7304996  1.406826
[2,] -0.8754301  -0.7805927  1.406826
[3,] -0.9285965  -0.7196384  1.406826
[4,] -0.9456349  -0.5850469  1.406826
[5,] -0.8967328  -0.3221779  1.406826
[6,] -0.6628339   0.3045384  1.406826

In [100]:
sdScale <- cbind(sd555[,1:5], sd12)

In [101]:

nrow(sd555)
head(sd555)
head(sdScale)

[1] 1008

  소요시간 출발시간 일차 연휴길이 눈비 X1종.교통량 X2종.교통량 서울인구수
1 91       0        0    3        TRUE 3793419     229419      10388055
2 88       1        0    3        TRUE 2514790     203047      10388055
3 88       2        0    3        TRUE 1846564     235137      10388055
4 87       3        0    3        TRUE 1632415     305994      10388055
5 91       4        0    3        TRUE 2247045     444384      10388055
6 97       5        0    3        TRUE 5186824     774325      10388055

  소요시간 출발시간 일차 연휴길이 눈비 X1종.교통량 X2종.교통량 서울인구수
1 91       0        0    3        TRUE -0.7736980  -0.7304996  1.406826
2 88       1        0    3        TRUE -0.8754301  -0.7805927  1.406826
3 88       2        0    3        TRUE -0.9285965  -0.7196384  1.406826
4 87       3        0    3        TRUE -0.9456349  -0.5850469  1.406826
5 91       4        0    3        TRUE -0.8967328  -0.3221779  1.406826
6 97       5        0    3        TRUE -0.6628339   0.3045384  1.406826

In [103]:
sum <- 0

for (i in 1:100){
  samp <- createDataPartition(sd555[,1:4]$소요시간, p=0.7, list=F)
  data.tr <- sd555[,1:4][samp,]
  data.test <- sd555[,1:4][-samp,]

  x <- subset(data.test, select = -소요시간)
  y <- data.test$소요시간

  model_rf <- randomForest(소요시간 ~ . , data = data.tr, ntree = 100)
  pred_rf <- predict(model_rf, x)
  예측력_rf <- mean((pred_rf*0.85 < y) & (pred_rf*1.15 > y)) 
  sum <- sum + 예측력_rf
}

sum

[1] 72.21667

In [ ]:
nrow(sd555)